<div class="ag-rating-stars">
    <div class="stars-background" layout="row">
        <div class="star-container" ag-rating-star-background>
            <i class="material-icons">star_outline</i>
            <div class="hover-left" ag-rating-star-half-left>
            </div>
            <div class="hover-right" ag-rating-star-half-right>
            </div>
        </div>
        <div class="star-container" ag-rating-star-background>
            <i class="material-icons">star_outline</i>
            <div class="hover-left" ag-rating-star-half-left>
            </div>
            <div class="hover-right" ag-rating-star-half-right>
            </div>
        </div>
        <div class="star-container" ag-rating-star-background>
            <i class="material-icons">star_outline</i>
            <div class="hover-left" ag-rating-star-half-left>
            </div>
            <div class="hover-right" ag-rating-star-half-right>
            </div>
        </div>
        <div class="star-container" ag-rating-star-background>
            <i class="material-icons">star_outline</i>
            <div class="hover-left" ag-rating-star-half-left>
            </div>
            <div class="hover-right" ag-rating-star-half-right>
            </div>
        </div>
        <div class="star-container" ag-rating-star-background>
            <i class="material-icons">star_outline</i>
            <div class="hover-left" ag-rating-star-half-left>
            </div>
            <div class="hover-right" ag-rating-star-half-right>
            </div>
        </div>
    </div>
    <div class="stars-foreground" ag-rating-stars-foreground>
        <div class="star-container" ag-rating-star-foreground>
            <i class="material-icons">star</i>
        </div>
        <div class="star-container" ag-rating-star-foreground>
            <i class="material-icons">star</i>
        </div>
        <div class="star-container" ag-rating-star-foreground>
            <i class="material-icons">star</i>
        </div>
        <div class="star-container" ag-rating-star-foreground>
            <i class="material-icons">star</i>
        </div>
        <div class="star-container" ag-rating-star-foreground>
            <i class="material-icons">star</i>
        </div>
    </div>
</div>