a.editable-click {
	border-bottom:none;
	color:inherit;
}
.editable-text {
	z-index: 1;
	position: relative;
	input {
	font-size:1em;
	}
}
#trainers-admin {
	.actions {
		margin-bottom:1em;
	}
	.profile-picture.thumbnail {
		width:50px;
	}
	.trainer-card {
		width:25%;
		display:inline-block;
		vertical-align: top;
		float:none!important;
		@include respond-to(xs) {
			width:32.33%;
			margin-right:1%;
			&:nth-of-type(3n+1) {
				margin-right:0%;
				color:yellow;
			}
			~ .trainer-card ~ .trainer-card ~ .trainer-card {
				margin-top:1em;
			}
		}
		@include respond-to(xxs) {
			width:49%;
			margin-right:2%;
			padding:0em;
			font-size:.8em;
			&:nth-of-type(3n + 1) {
				margin-right:2%;
			}
			&:nth-of-type(2n + 1) {
				margin-right:0%;
				color:red;
			}
			~ .trainer-card ~ .trainer-card {
				margin-top:1em;
			}
		}
		.trainer {
			border:1px solid lighten($body-bg, 5%);
			padding:.5em;
			border-radius:10px;
			@include respond-to(xs) {
				padding:0em;
			}
			.information {
				@include responsive-padding();
				@extend .col-xxs-8;
			}
		}
	}
}