<div class="trainer-certifications certification-list">
    <div class="empty" ng-if="!trainerFactory.trainer.certs">
        <div ng-if="isMe()">You have no certifications listed.  If you are certified, make sure to
            <a ui-sref="main.trainer.certifications">add your certifications</a> to your profile
        </div>
        <div ng-if="!isMe()">{{trainerFactory.trainer.name.first}} does not have any active certifications</div>
    </div>

    <accordion close-others="oneAtATime">
        <accordion-group ng-click="toggleOpen()" class="profile-page-cert cert" ng-repeat="(cert, cert_types) in trainerFactory.trainer.certs">
            <accordion-heading class="heading">
                <span class="name">{{cert}} </span>
                <span class="count-bubble">{{cert_types.length}}</span>
            </accordion-heading>
            <ul class="child-cert" stop-event>
                <li ng-repeat="type in cert_types">{{$index + 1}}) {{type.name}}</li>
            </ul>
        </accordion-group>
    </accordion>
</div>