<div class="trainer-certifications certification-list">
    <div class="empty" ng-if="!trainerFactory.trainer.certifications_v2.length">
        <div ng-if="isMe()">You have no certifications listed.  If you are certified, make sure to
            <a ui-sref="main.trainer.certifications">add your certifications</a> to your profile
        </div>
        <div ng-if="!isMe()">{{trainerFactory.trainer.name.first}} does not have any active certifications</div>
    </div>
    <accordion close-others="true">
        <accordion-group is-open="certificationOrganization.isOpen"
                         class="profile-page-cert cert"
                         ng-repeat="certificationOrganization
                             in trainerFactory.trainer.certifications_v2_coagulated">
            <accordion-heading class="heading">
                <span class="name">{{certificationOrganization.name}} </span>
                <span class="count-bubble">
                    <md-tooltip md-direction="top">
                        {{certificationOrganization.types.length}}
                        {{certificationOrganization.name}} {{certificationOrganization.types.length > 1 ?
                        'certifications' : 'certification'}}
                    </md-tooltip>
                    {{certificationOrganization.types.length}}
                </span>
            </accordion-heading>
            <ul class="child-cert" stop-event>
                <li ng-repeat="type in certificationOrganization.types">
                    <span class="name">
                        {{$index + 1}}) {{type.name}}
                    </span>
                 <span class="status pending"
                       ng-if="type.verification.status == 'Pending'">
                     <md-tooltip md-direction="top">Pending verification</md-tooltip>
                     <i class="fa fa-warning"></i>
                 </span>
                 <span class="status verified"
                       ng-if="type.verification.status == 'Verified'">
                     <md-tooltip md-direction="top">Verified by Lunge</md-tooltip>
                     <i class="fa fa-check-circle"></i>
                 </span>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>