<section id="find">
    <div class="container">
        <div class="title">
            <h1>
                Discover, Book, Train!
            </h1>
            <div class="sub-title">
                Browse trainers near you, book them securely using Lunge's platform, and get started building the body you deserve.
            </div>
        </div>
        <div class="icons">
            <div class="bubble find">
                <div class="icon">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="bubble book">
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
            </div>
            <div class="bubble train">
                <div class="icon">
                    <i class="fa fa-flash"></i>
                </div>
            </div>

        </div>
    </div>
</section>