<div class="trainer-certifications">
    <div ng-if="isMe()" ui-sref="main.trainer.certifications" class="edit-button pull-right">
        <div class="edit"><i class="fa fa-edit"></i></div>
    </div>
    <div class="title">
        Certifications
    </div>
    <div class="certification-list">
        <div class="empty" ng-if="!trainer.certs">
            <div ng-if="isMe()">You have no certifications listed.  If you are certified, make sure to
                <a ui-sref="main.trainer.certifications">add your certifications</a> to your profile
            </div>
            <div ng-if="!isMe()">{{trainer.name.first}} does not have any active certifications</div>
        </div>
        <div class="profile-page-cert" ng-click="toggleCert(cert)" ng-class="{'active' : certVisibility[cert]}" ng-repeat="(cert, cert_types) in trainer.certs">
            <div class="parent-cert">
                <span class="name">{{cert}} <span class="count-bubble">{{cert_types.length}}</span></span>
            </div>
            <div class="child-cert" ng-show="certVisibility[cert]" stop-event>
                <ul>
                    <li ng-repeat="type in cert_types">
                        {{$index + 1}}) {{type.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>