<div class="jumbo-main bg-full" ag-editable-animation>
    <div class="welcome-wrapper">
        <div class="welcome-container">
            <div class="welcome-cell">
                <h1>
                    Your Fitness Journey Starts Here
                </h1>
                <div class="buttons">
                    <md-button aria-label="Sign up"
                               id="sign-up"
                               ui-sref="main.signup">
                        Sign me Up
                    </md-button>
                    <!--<a ui-sref="main.signup" class="btn btn-transparent btn-lg btn-home">Sign me Up</a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="location" ng-if="cityState" ng-class="{'scale-in' : cityState}" >
        <i class="fa fa-crosshairs"></i> {{cityState}}
    </div>
</div>