<div class="jumbo-main bg-full">
    <div class="welcome-wrapper">
        <div class="welcome-container">
            <div class="welcome-cell">
                <h1>
                    Your Fitness Journey Starts Here
                </h1>
                <div class="buttons">
                    <a ui-sref="main." class="btn btn-transparent btn-lg btn-home">Sign me Up</a>
                </div>
            </div>
        </div>
    </div>
    <div class="location" ng-if="cityState" ng-class="{'scale-in' : cityState}" >
        <i class="fa fa-crosshairs"></i> {{cityState}}
    </div>
    <!--
    <div class="callout">
        <h1>Personal Trainers. Where, and When You Need Them!</h1>
    </div>
    -->
</div>