<md-dialog flex-lg="30" flex-md="50" flex-xs="90" flex-xxs="100">
    <form name="changeTitleForm"
          ng-submit="vm.confirm(changeTitleForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change location title</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel(false)">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <ag-floating-label>
                    <label>Name</label>
                    <input type="text"
                           name="title"
                           server-error
                           md-autofocus
                           ng-model="vm.location.title"/>
                    <div ng-messages="changeTitleForm.title.$error">
                        <div ng-message="mongoose">
                            {{changeTitleForm.title.$error.mongoose}}
                        </div>
                    </div>
                </ag-floating-label>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button type="submit">
                Confirm
            </md-button>
            <md-button ng-click="vm.cancel(false)">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>