.flex-column {
	@extend .flex-100;
	@extend .flex-gt-xxs-90;
	@extend .flex-gt-sm-75;
	@extend .flex-gt-md-50;
	md-card {
		//margin-bottom:30px;
	}
}

md-dialog {
	md-toolbar {
		height: auto;
		@extend .layout-row; // angular material has this set to column
		.md-toolbar-tools {
			height: auto;
			max-height: 100px;
			padding-top: 4px;
			padding-bottom: 4px;
			//padding: 4px 0;
		}
	}
}
.flexible-dialog-small {
	@extend .flex-100;
	@extend .flex-gt-sm-75;
	@extend .flex-gt-lg-50;
}
a.md-button {
	&:hover {
		color: inherit;
	}
}

tbody {
	tr.md-row {
		border-top: 1px rgba(0, 0, 0, 0.12) solid!important;
		td {
			border-top: none!important;
		}
	}
}
tr.md-row {
	.download, .delete {
		text-align: right!important;
	}
}
.flexible-dialog {
	@extend .flex-90;
	@extend .flex-gt-sm-50;
	@extend .flex-gt-lg-30;
}
#profile, #account {
	md-card {
		margin-bottom: 30px;
	}
}

md-dialog-content {
	.md-dialog-content {
		&.nopadding-horizontal {
			padding-left: 0!important;
			padding-right: 0!important;
		}
		> .info-row {
			line-height: 1.6;
			div:first-of-type {
				font-weight: 500;
			}
			div:nth-of-type(2) {
				font-weight: 300;
			}
			padding: 0 24px 12px 24px;
			margin: 0!important;
			~ .info-row {
				padding-top: 12px;
			}
		}
	}
}
.info-row {
	@extend .layout-row;
	@extend .layout-align-space-between-center;
	text-align: left;
	> div {
		&:first-of-type {
			margin-right: 20px;
			width: 100px;
			min-width: 100px;
		}
		@extend .flex-nogrow;
	}
	.name {
		padding-right: 20px;
		//font-weight:bold;
		@extend .flex-nogrow;
	}
	.value {
		text-align: right;
		@extend .flex-nogrow;
	}
	~ .info-row {
		margin-top:1.5rem;
	}
}

h1 {
	i.material-icons {
		font-size: 1em;
		vertical-align: middle;
	}
	span {
		vertical-align: middle;
	}
}
md-list {
	p {
		margin-bottom: 0;
	}
	overflow: hidden;
}
button {
	i.material-icons {
		vertical-align: middle;
		margin-right: 5px;
	}
}
ag-floating-label {
	padding: 0 2px;
	&.ag-has-icon {
		margin-left: 2px;
		margin-right: 2px;
	}
}

md-tooltip {
	font-size: 12px!important;
}

.md-secondary, button.md-secondary {
	margin-right: 0!important;
	button:last-of-type {
		margin-right: 0;
	}
	right: 0!important;
}

md-card {
	md-card-actions {
		@extend .layout;
		@extend .layout-row;
		justify-content: flex-end; //left/right
		align-items: center; // up/down
	}
}

md-icon {
	i {
		display:block!important;
	}
	ng-md-icon {
		display:flex;
	}
}

#signup {
	#signup-trainer {
		text-align: center;
		#signup-trainer-social {
			padding: 35px 30px;
			h1 {
				font-size: 26px;
				margin-bottom: 8px;
			}
			h2 {
				font-size: 18px;
				margin-bottom: 14px;
				color: #1d1d1d;
			}
		}
		h3 {
			margin-bottom: 30px;
			font-size: 20px;
			color: #1d1d1d;
		}
	}
}

#signup, #login {
	ag-floating-label {
		max-width: 300px;
		margin: 0 auto;
		font-size: 18px;
		margin-bottom: 4px;
	}
}

#login {
	//#social-login {
	//	.social-button {
	//	}
	//	md-card-content {
	//		&#social-login {
	//			padding: 35px 30px;
	//		}
	//	}
	//}
	h1 {
		font-size: 30px;
		margin-bottom: 15px;
	}
	h3 {
		font-size: 20px;
		margin-bottom: 30px;
	}
}

#sync-social-accounts {
	button {
		&.active {
			&.facebook {
				ng-md-icon {
					color: $facebook;
				}
			}
			&.instagram {
				ng-md-icon, i {
					color: $instagram;
				}
			}
			&.linkedin {
				ng-md-icon {
					color: $linkedin;
				}
			}
			&.twitter {
				ng-md-icon {
					color: $twitter;
				}
			}
		}
	}
}