
.section-animate-in {
	&.ng-enter {
		transition: all .5s ease-in-out;
		opacity: 0;
		transform: translate3d(0, -10px, 0);
	}
	&.ng-enter-active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate3d(0, -10px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

$default-animation-delay: .3s;
[class*="fade-in"] {
	opacity: 0;
	animation: fadeIn;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-delay: $default-animation-delay;
	&[class*="200"] {
		animation-delay: $default-animation-delay + .2;
	}
	&[class*="300"] {
		animation-delay: $default-animation-delay + .3;
	}
	&[class*="400"] {
		animation-delay: $default-animation-delay + .4;
	}
	&[class*="500"] {
		animation-delay: $default-animation-delay + .5;
	}
}


[ag-editable-container] {
	md-card-actions {
		transition: all .5s;
		overflow: hidden;
		&.ng-enter {
			margin-top: 0;
			margin-bottom: 0;
			max-height: 0;
		}
		&.ng-enter-active {
			margin-top: 8px;
			margin-bottom: 8px;
			max-height: 100px;
		}
		&.ng-leave {
			margin-top: 8px;
			margin-bottom: 8px;
			max-height: 100px;
		}
		&.ng-leave-active {
			margin-top: 0;
			margin-bottom: 0;
			max-height: 0;
		}
	}
	md-card-container {
		overflow: hidden;
	}
	.ag-editable-container {
		position: relative;
		.ag-editable-editing {
			&.ag-editable-showing {
				transition: all 0s;
				position: absolute;
				right: 0;
				left: 0;
				top: 0;
			}
			&.ag-editable-preparing {
				transition: all 0s;
				position: absolute;
				right: 9000px;
				width: 100%; // this is important, otherwise it may flex and take up a smaller space
			}
		}
		.ag-editable-default {
			position: relative;
		}
	}
}

.expand_more {
	transition: all 0.5s ease-in-out;

	&.rotate-up {
		transform: rotateZ(180deg);
	}
}

md-list-item ._md-list-item-inner ._md-secondary-container .md-button:last-of-type, md-list-item ._md-list-item-inner ._md-secondary-container .md-icon-button:last-of-type, md-list-item ._md-secondary-container .md-button:last-of-type, md-list-item ._md-secondary-container .md-icon-button:last-of-type {
	margin-right: 0;
}

.list-item-default, .list-item-removing, .list-item-default-alternate {
	-webkit-transition: all .275s ease-in-out;
	width: 100%;
	min-height: $list-item-height;
}

// Needed when there's extra padding on a list item.
// This is because the position: absolute clings to the edge of the padding isntantly before moving.
// Adding this container means we don't ahve to fiddle with right: 16px etc etc.
.md-list-item-animation-container {
	position: relative;
	width: 100%;
	min-height: $list-item-height;
}

.list-item-default {
	min-height: $list-item-height;
	right: 0;
	top: 0;
	&.ng-enter {
		position: absolute;
		right: -120%;
	}
	&.ng-enter-active {
		position: absolute;
		right: 0;
	}
	&.ng-leave {
		position: absolute;
		right: 0;
	}
	&.ng-leave-active {
		position: absolute;
		right: -120%;
	}
}
.list-item-default-alternate {
	&.ng-enter {
		transform: scale(0, 0);
		opacity: 0;
	}
	&.ng-enter-active {
		transform: scale(1, 1);
		opacity: 1;
	}
	&.ng-leave {
		height: 0!important;
		min-height: 0!important;
		overflow: visible;
		transform: scale(1, 1);
		opacity: 1;
	}
	&.ng-leave-active {
		height: 0!important;
		min-height: 0!important;
		overflow: visible;
		transform: scale(0, 0);
		opacity: 0;
	}
}
.list-item-removing-alternate {
	&.ng-enter {
		transform: scale(0, 0);
		opacity: 0;
	}
	&.ng-enter-active {
		transform: scale(1, 1);
		opacity: 1;
	}
	&.ng-leave {
		transform: scale(1, 1);
		opacity: 1;
	}
	&.ng-leave-active {
		transform: scale(0, 0);
		opacity: 0;
	}
}
.list-item-removing {
	min-height: $list-item-height;
	padding: 0; // sometimes md-list-items may have a padding, it messes with transformation
	transform: translate3d(0%,0,0);
	top: 0;
	text-align: center;
	p {
		text-align: left;
	}
	&.ng-enter {
		transform: translate3d(-100%,0,0);
	}
	&.ng-enter-active {
		transform: translate3d(0%,0,0);
	}
	&.ng-leave {
		position: absolute;
		transform: translate3d(0%,0,0);
	}
	&.ng-leave-active {
		position: absolute;
		transform: translate3d(-100%,0,0);
	}
}