<md-dialog flex-lg="30" flex-md="50" flex-xs="90" flex-xxs="100" ng-cloak>
    <form name="googlePlacesForm"
          ng-submit="submit(googlePlacesForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add a Location</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <!--<md-tabs md-dynamic-height md-border-bottom>-->
            <!--<md-tab label="Search Google">-->
            <div md-content layout-padding>
                <h3>Search using the Google Places API</h3>
                <div cg-busy="{promise : cgBusy}">
                    <places-autocomplete ng-model="location"
                                         ng-change="removeMongooseError(googlePlacesForm, 'location')"
                    ></places-autocomplete>
                    <br/>
                    <ag-floating-label>
                        <label>
                            Name this location
                        </label>
                        <input id="title"
                               type="text"
                               name="title"
                               ng-model="title.text"
                               maxlength="30"
                               minlength="5"
                               required
                        />
                        <div ng-messages="googlePlacesForm.title.$error" class="md-auto-hide" ng-messages-multiple>
                            <div ng-message="required">Title is required</div>
                            <div ng-message="mongoose">{{googlePlacesForm.errors.title}}</div>
                            <div ng-message="maxlength">Please limit the title to 30 characters</div>
                            <div ng-message="minlength">5 char</div>
                            <div ng-message="test">test</div>
                        </div>
                    </ag-floating-label>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button type="submit">
                Add
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>