.trainer-profile {
	.row-centered {
	text-align:center;
}
	.col-centered {
		display:inline-block;
		float:none;
		/* reset the text-align */
		text-align:left;
		/* inline-block space fix */
		margin-right:-4px;
	}
	text-align:center;
	max-width:750px;
	margin:0 auto;
	margin-top:3em;
	background: lighten($body-bg, 5%);
	border-radius:10px;
	padding:1em;
	position:relative;
	@include respond-to(xxs) {
		padding:1em 5px;
	}
	.trainer-card {
		.favorite {
			position:absolute;
			top:1em;
			right:1em;
			i {
				font-size:1.5em;
			}
		}
		padding-bottom:1em;
	}
	h1 {
		font-size:1.8em;
	}
	.picture {
		@extend .col-xs-4;
		@extend .col-xxs-12;
		@include clearfix();
		border-left:3px solid lighten($body-bg, 15%);
		position:relative;
		.image-container {
			@include respond-to(xxs) {
			}
			.profile-picture{
				width:100%;
				padding-bottom:100%;
				background-size:contain;
				background-position:center;
				background-repeat:no-repeat;
			}
		}
	}
	.information {
		@extend .col-xs-8;
		@extend .col-xxs-12;
		text-align:left;
		.name {
			@include respond-to(xxs) {
				margin-top:1em;
			}
		}
		h2 {
			font-size:1.3em;
		}
		.item {
			~ .item {
				margin-top:1em;
			}
		}
		.actions {
			margin-top:1.5em;
		}
	}
	section {
		text-align:left;
		border-top:1px dashed lighten($body-bg, 15%);
		padding:1em 0em;
		.title {
			line-height:1;
			margin-bottom:1em;
			font-size:1.3em;
		}
	}
	.certification-list {
		@include clearfix();
		text-align:center;
		.certification {
			font-weight:bold;
			@extend .col-xs-3;
			@extend .col-xxs-4;
		}
	}
	.trainer-reviews {
		.review {
			.picture {
				@extend .col-xs-2;
				@extend .col-xxs-4;
			}
			.review-stars {
				@extend .col-xs-10;
				@extend .col-xxs-8;
			}
			.review-text {
				font-size:.9em;
				@extend .col-xs-10;
				@extend .col-xxs-8;
			}
			padding-bottom:1em;
			~ .review {
				border-top:1px solid lighten($body-bg, 15%);
				padding-top:1em;
			}
		}
	}
}