<div id="trainer-certifications-list"
     class="main-push trainer-certifications">
    <header>
        <h1>
            <i class="material-icons">verified_user</i>
            <span>
            Certifications
            </span>
        </h1>
        <div id="search-module">
            <form ng-submit="trainerCertifications.doQuery()">
                <ag-floating-label>
                    <label>Search By Organization</label>
                    <ag-icon>
                        <i class="material-icons">search</i>
                    </ag-icon>
                    <input type="text"
                           id="search"
                           ng-model="trainerCertifications.params.query">
                </ag-floating-label>
            </form>
        </div>
    </header>
    <div id="view-my-certifications-wrapper">
        <md-button ng-if="trainerFactory.trainer"
                   class="ag-padded"
                   ui-sref="main.trainer.account.certifications">
            <md-icon>
                <i class="material-icons">remove_red_eye</i>
            </md-icon>
            View My Certifications
        </md-button>
    </div>
    <div id="empty" ng-if="ajax.complete && !trainerCertifications.certificationOrganizations.length">
        <h2>No certifications match that query</h2>
        <md-button ng-click="trainerCertifications.reset(); trainerCertifications.getPage()">
            Clear
        </md-button>
    </div>
    <md-card ng-repeat="certificationOrganization in trainerCertifications.certificationOrganizations">
            <md-list>
                <ag-collapse-container class="certification-organization">
                    <ag-collapse-header>
                        <md-list-item md-ink-ripple>
                            <span layout="row" layout-align="start center"
                                  class="name">
                                <span class="count-unbubble total-certifications">
                                    <md-tooltip md-autohide md-direction="top">
                                        {{certificationOrganization.certifications.length}}
                                        {{certificationOrganization.certifications.length > 1
                                        ? 'certifications'
                                        : 'certification'}}
                                        available
                                    </md-tooltip>
                                    {{certificationOrganization.certifications.length}}
                                </span>
                                {{certificationOrganization.name}}
                            </span>
                            <div class="md-secondary" layout="row">
                                <trainer-certification-status-count-bubbles trainer="trainerFactory.trainer"
                                                                            certification-organization="certificationOrganization">
                                </trainer-certification-status-count-bubbles>
                            </div>
                        </md-list-item>
                    </ag-collapse-header>
                    <ag-collapse-body>
                        <div ng-if="!certificationOrganization.certifications.length">
                            <md-list-item>
                                <h4>Sorry, no certifications available</h4>
                            </md-list-item>
                        </div>
                        <md-list>
                            <md-list-item
                                    ng-repeat="certification in certificationOrganization.certifications">
                                <div flex class="md-list-item-animation-container">
                                    <div flex class="list-item-default" ng-if="!certification.removing"
                                         layout="row" layout-align="space-between center">
                                        <trainer-certification-status certification="certification"
                                                                      trainer="trainerFactory.trainer">
                                        </trainer-certification-status>
                                        <p class="md-list-item-text">
                                            {{certification.name}}
                                        </p>
                                        <div class="md-secondary" flex>
                                            <div ng-if="!trainerFactory.trainer">
                                                <md-button class="md-icon-button"
                                                           ng-click="certificationTypeInfoModal(certification, $event)">
                                                    <i md-menu-align-target class="material-icons">
                                                        info_outline
                                                    </i>
                                                </md-button>
                                            </div>
                                            <md-menu md-position-mode="target-right target"
                                                     ng-if="trainerFactory.trainer">
                                                <md-button class="md-icon-button"
                                                           ng-click="openMenu($mdOpenMenu, $event)">
                                                    <i md-menu-origin
                                                       class="material-icons">
                                                        more_vert
                                                    </i>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item
                                                            ng-if="!trainerHasCertification(certification)">
                                                        <md-button ng-click="addOrRemoveCertification('add', certification)">
                                                            <div layout="row" flex>
                                                                <p flex>
                                                                    Add certification
                                                                </p>
                                                                <md-button class="md-icon-button">
                                                                    <i md-menu-align-target class="material-icons">
                                                                        add
                                                                    </i>
                                                                </md-button>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-if="trainerHasCertification(certification)">
                                                        <md-button ng-click="addOrRemoveCertification('remove', certification)">
                                                            <div layout="row" flex>
                                                                <p flex>
                                                                    Remove certification
                                                                </p>
                                                                <md-button class="md-icon-button">
                                                                    <i md-menu-align-target class="material-icons">
                                                                        delete
                                                                    </i>
                                                                </md-button>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="certificationTypeInfoModal(certification, $event)">
                                                            <div layout="row" flex>
                                                                <p flex>
                                                                    Details
                                                                </p>
                                                                <md-button class="md-icon-button">
                                                                    <i md-menu-align-target class="material-icons">
                                                                        info_outline
                                                                    </i>
                                                                </md-button>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </div>
                            </md-list-item>
                        </md-list>
                    </ag-collapse-body>
                </ag-collapse-container>
            </md-list>
    </md-card>
    <md-progress-circular ng-if="ajax.loading"
                          md-diameter="120"
                          md-mode='indeterminate'>
    </md-progress-circular>
    <div class="load-more" ng-if="!ajax.complete">
        <md-button ng-click="trainerCertifications.getPage()"
                   ng-disabled="ajax.busy">
            {{ ajax.loading ? 'Loading...' : 'Load More' }}
        </md-button>
    </div>
</div>