<md-dialog>
    <form novalidate
          name="contactForm"
          cg-busy="{promise : cgBusy}"
          ng-submit="vm.submit(contactForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Send {{vm.trainerFactory.trainer.name.first}} a message
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.close()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <div flex layout="row" layout-align="start start">
                <div flex>
                    <ag-floating-label>
                        <label>
                            First Name *
                        </label>
                        <ag-icon>
                            <i class="material-icons">title</i>
                        </ag-icon>
                        <input server-error
                               type="text"
                               name="firstName"
                               required
                               ng-model="vm.inquiry.user.name.first"/>
                        <div ng-messages="contactForm.firstName.$error">
                            <div ng-message="required">First name is required</div>
                            <div ng-message="mongoose">{{contactForm.errors.firstName}}</div>
                        </div>
                    </ag-floating-label>
                </div>
                <div flex>
                    <ag-floating-label>
                        <label>
                            Last Name
                        </label>
                        <input server-error
                               type="text"
                               name="lastName"
                               ng-model="vm.inquiry.user.name.last"/>
                        <div ng-messages="contactForm.lastName.$error">
                            <div ng-message="mongoose">{{contactForm.errors.lastName}}</div>
                        </div>
                    </ag-floating-label>
                </div>
            </div>
            <div flex layout="row" layout-align="start start">
                <div flex>
                    <ag-floating-label>
                        <label>
                            Email *
                        </label>
                        <ag-icon>
                            <i class="material-icons">email</i>
                        </ag-icon>
                        <input server-error
                               type="email"
                               name="email"
                               ng-model="vm.inquiry.user.email"
                               required/>
                        <div ng-messages="contactForm.email.$error">
                            <div ng-message="required">Email is required</div>
                            <div ng-message="email">This email is invalid</div>
                            <div ng-message="mongoose">{{contactForm.errors.email}}</div>
                        </div>
                    </ag-floating-label>
                </div>
            </div>
            <div flex layout="row" layout-align="start start">
                <div flex>
                    <ag-floating-label>
                        <label>
                            Message *
                        </label>
                        <ag-icon>
                            <i class="material-icons">message</i>
                        </ag-icon>
                        <!-- rows not working, probably because inside dialog -->
                    <textarea rows="5"
                              name="message"
                              style="height:100px;"
                              server-error
                              required
                              ng-model="vm.inquiry.message">
                    </textarea>
                        <div ng-messages="contactForm.message.$error">
                            <div ng-message="required">Message is required</div>
                            <div ng-message="mongoose">{{contactForm.errors.message}}</div>
                        </div>
                    </ag-floating-label>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit">
                Send
            </md-button>
            <md-button ng-click="vm.close()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>