<div class="container">
    <div class="log-in-tabs">
        <tabset>
            <tab heading="User">
                <div class="log-in" ng-controller="LoginController">
                    <h1>Log in using one of the services below</h1>
                    <div class="social-logins">
                        <div class="social-login">
                            <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                                <i class="fa fa-facebook"></i> Log in with Facebook
                            </a>
                        </div>
                        <div class="social-login">
                            <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                                <i class="fa fa-google-plus"></i> Log in with Google+
                            </a>
                        </div>
                        <div class="social-login">
                            <a class="btn btn-linkedin" href="" ng-click="loginOauth('linkedin')">
                                <i class="fa fa-linkedin"></i> Log in with LinkedIn
                            </a>
                        </div>
                        <div class="social-login last">
                            <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                                <i class="fa fa-twitter"></i> Log in with Twitter
                            </a>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Trainer">
                <div class="log-in" ng-controller="LoginController">
                    <form name="form" class="form-horizontal" role="form" ng-submit="login(form)">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                            </div>
                        </div>
                        <div ng-if="errors.password || errors.hashedPassword" class="form-group has-error">
                            <div class="help-block"  ng-repeat="error in errors">
                                {{error}}
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-xs-12 col-sm-10 col-sm-push-2">
                                <input class="form-control input-lg" type="submit" value="{{!sending ? 'Log in' : 'Logging in...'}}" ng-disabled="submitting">
                            </div>
                        </div>
                    </form>




                    <!--
                    <form class="form sm" ng-submit="submitPassword(form)" name="form" ng-keydown="resetErrors()" novalidate>
                        <div class="form-group">
                            <input name="email" type="password" class="input-lg form-control" placeholder="Email" ng-model="password" required/>
                        </div>
                        <div class="form-group">
                            <input name="password2" type="password" class="input-lg form-control" placeholder="Re-type password" ng-model="password2" required/>
                        </div>
                        <div ng-if="errors.password || errors.hashedPassword" class="form-group has-error">
                            <div class="help-block"  ng-repeat="error in errors">
                                {{error}}
                            </div>
                        </div>
                        <div class="form-group last">
                            <input class="form-control input-lg" type="submit" value="{{!sending ? 'Log in' : 'Logging in...'}}" ng-disabled="submitting">
                        </div>
                    </form>
                    -->
                </div>
            </tab>
        </tabset>
    </div>
</div>
    <!--
<div class="row">
   v class="col-sm-12">
        <h1>Login</h1>
        <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
        <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
    </div>
    <div class="col-sm-12">
        <form class="form" name="form" ng-submit="login(form)" novalidate>

            <div class="form-group">
                <label>Email</label>

                <input type="email" name="email" class="form-control" ng-model="user.email" required>
            </div>

            <div class="form-group">
                <label>Password</label>

                <input type="password" name="password" class="form-control" ng-model="user.password" required>
            </div>

            <div class="form-group has-error">
                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                    Please enter your email and password.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && submitted">
                    Please enter a valid email.
                </p>

                <p class="help-block">{{ errors.other }}</p>
            </div>

            <div>
                <button class="btn btn-inverse btn-lg btn-login" type="submit">
                    Login
                </button>
                <a class="btn btn-default btn-lg btn-register" href="/signup">
                    Register
                </a>
            </div>

            <hr>
            <div>
                <a target="_self" href="/auth/facebook" class="btn btn-danger">FB+</a>
                <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                    <i class="fa fa-facebook"></i> Connect with Facebook
                </a>
                <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                    <i class="fa fa-google-plus"></i> Connect with Google+
                </a>
                <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
                    <i class="fa fa-twitter"></i> Connect with Twitter
                </a>
            </div>
        </form>
    </div>
    </div>
</div>
    -->
