<div layout="row"
     layout-align="center center"
     class="main-push"
     ng-controller="LoginController">
    <div class="ag-flex-column" id="login">
        <md-card>
            <form name="loginForm"
                  ng-submit="login(loginForm)">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            Login
                        </h2>
                        <span flex></span>
                        <div id="or">
                            or,
                            <md-button ui-sref="main.signup({tab : type})">
                                Signup
                            </md-button>
                        </div>
                    </div>
                </md-toolbar>
                <md-tabs md-selected="selectedIndex"
                         md-border-bottom
                         md-dynamic-height
                         md-autoselect>
                    <!-- User Tab -->
                    <md-tab label="User" ng-click="selectTab('trainee')">
                        <md-card-content layout="column" layout-align="center center" id="user-login-social">
                            <h1>
                                User Social Login
                            </h1>
                            <md-button class="facebook social-button"
                                       href=""
                                       ng-click="loginOAuth('facebook')">
                                <md-icon>
                                    <ng-md-icon icon="facebook"></ng-md-icon>
                                </md-icon>
                                Login with Facebook
                            </md-button>
                            <md-button class="linkedin social-button"
                                       href=""
                                       ng-click="loginOAuth('linkedin')">
                                <md-icon>
                                    <ng-md-icon icon="linkedin"></ng-md-icon>
                                </md-icon>
                                Login with LinkedIn
                            </md-button>
                        </md-card-content>
                    </md-tab>
                    <!-- Trainer Tab -->
                    <md-tab label="Trainer" ng-click="selectTab('trainer')">
                        <!-- Trainer Social Login -->
                        <md-card-content id="trainer-login-social"
                                         layout="column"
                                         layout-align="center center">
                            <h1>
                                Trainer Social Login
                            </h1>
                            <md-button class="facebook social-button"
                                       href=""
                                       ng-click="trainerLoginOAuth('facebook')">
                                <md-icon>
                                    <ng-md-icon icon="facebook"></ng-md-icon>
                                </md-icon>
                                Login with Facebook
                            </md-button>
                            <md-button class="linkedin social-button"
                                       href=""
                                       ng-click="trainerLoginOAuth('linkedin')">
                                <md-icon>
                                    <ng-md-icon icon="linkedin"></ng-md-icon>
                                </md-icon>
                                Login with LinkedIn
                            </md-button>
                        </md-card-content>
                        <md-divider></md-divider>
                        <!-- Trainer Local Login -->
                        <md-card-content
                                id="trainer-login-local">
                            <h3 class="text-center">
                                Or Login Using Your Email
                            </h3>
                            <ag-floating-label>
                                <label>
                                    Email
                                </label>
                                <input type="email"
                                       name="email"
                                       server-error
                                       ng-model="user.email"/>
                                <div ng-messages="loginForm.email.$error">
                                    <div ng-message="mongoose">
                                        {{loginForm.errors.email}}
                                    </div>
                                </div>
                            </ag-floating-label>
                            <ag-floating-label>
                                <label>
                                    Password
                                </label>
                                <input type="password"
                                       name="password"
                                       server-error
                                       ng-model="user.password"/>
                                <div ng-messages="loginForm.password.$error">
                                    <div ng-message="mongoose">
                                        {{loginForm.errors.password}}
                                    </div>
                                </div>
                            </ag-floating-label>
                            <div id="forgot-password">
                                <a ui-sref="main.password-reset.submit({type : 'trainer'})">Forgot password?</a>
                            </div>
                        </md-card-content>
                        <md-card-actions>
                            <md-button type="submit">
                                Login
                            </md-button>
                        </md-card-actions>
                    </md-tab>
                </md-tabs>
            </form>
        </md-card>
    </div>
</div>