<div class="alert profile">
    <div class="close" ng-click="closeMessage($index)"><i class="fa fa-times"></i></div>
    <h1>Your Lunge Custom URL</h1>
    <div class="description">
        <div ng-if="!trainer.urlNameChanged">
            <div class="url">
                Your URL is:
                <em>http://localhost:9000/<!--
            --><strong><!--
                --><a class="urlName" href="#" e-form="urlName" editable-text="trainer.urlName" onbeforesave="updateProfileUrlName($data)" e-style="width : {{width}}" ng-click="resetErrors('urlName'); showEObject($event, urlName);">{{trainer.urlName}}
                </a>
                </strong>
                </em>
            </div>
            <div class="alert error" ng-if="errors && errors.urlName">
                {{errors.urlName}}
            </div>
            Your custom URL it easier for people to identify who you are.  Feel free to change this to whatever you'd like.
            <div class="warning">
                <strong>Warning:</strong> you may only change this url once, a good idea is to use your name and/or your training location.  If you're unsure, you can always defer this and change it later.
            </div>
            <div class="buttons">
                <div class="btn btn-primary" ng-click="resetErrors('urlName'); showEObject('.urlName', urlName)" ng-hide="urlName.$visible">Change</div>
                <div class="btn btn-danger" ng-show="urlName.$visible" ng-click="urlName.$hide()">Cancel</div>
                <div class="btn btn-default" ng-click="closeMessage($index)">Ok</div>
            </div>
        </div>
        <div ng-if="trainer.urlNameChanged">
            <div class="url">
                Congratulations! Your new Lunge URL is: <em>http://localhost:9000/{{trainer.urlName}}</em>
            </div>
        </div>
    </div>
</div>