.trainer-synced-account {
	cursor:pointer;
	~ .trainer-synced-account {
		margin-left:.5em;
	}
	.unlink {
		margin-right: .5em;
	}
	span {
		color:lighten($body-bg, 30%);
	}
	.facebook {
		padding: 2px 7px 2px 7px;
	}
	.linkedin {
		padding: 2px 7px 2px 5px;
	}
	.twitter {
		padding: 2px 4px;
	}
	.google-plus {
		padding: 2px 4px;
	}
	span {
		&:hover {
			color:white;
			border-color:transparent;
		}
	}
	a {
		vertical-align: middle;
		&.facebook {
			background: #3a5795;
			border-radius: 4px;
			color: white;
		}
		&.linkedin {
			background:rgb(26, 133, 188);
			border-radius: 4px;
			color: white;
		}
		&.twitter {
			color: white;
			background: #0084B4;
			border-radius: 4px;
		}
		&.google-plus {
			color:white;
			background:#DD4B39;
			border-radius:4px;
		}
	}
}