<form class="form sm"
      ng-submit="updateBasicInfo(form)"
      name="form"
      novalidate>
    <div id="basic-info">
        <!-- Basic Info, Not Editing -->
        <div class="basic-info-inner" ng-show="!basicInfo.visible">
            <a ui-sref="main.trainer.account.edit-profile"
               ng-if="editable"
               md-button
               class="edit md-icon-button">
                <i class="material-icons">edit</i>
            </a>
            <div layout-padding>
                <div class="name item">
                    <h1>
                        {{trainerFactory.trainer.name.full}}
                    </h1>
                </div>
                <div class="item">
                    <h2>{{trainerFactory.trainer.location.cityState}}</h2>
                </div>
                <div class="item">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half"></i>
                    </div>
                </div>
                <div class="bio item">
                    {{trainerFactory.trainer.bio ? trainerFactory.trainer.bio : 'No bio yet' }}
                </div>
                <div class="social-links item">
                    <a ng-if="trainerFactory.trainer.facebook"
                       class="sync-icon sync-facebook active"
                       target="_blank"
                       ng-attr-title="{{trainerFactory.trainer.name.first}}'s Facebook page"
                       ng-href="{{trainerFactory.trainer.facebook.link}}">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a ng-if="trainerFactory.trainer.twitter"
                       class="sync-icon sync-twitter active"
                       target="_blank"
                       ng-attr-title="{{trainerFactory.trainer.name.first}}'s Twitter page"
                       ng-href="{{trainerFactory.trainer.twitter.link}}">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                    <a ng-if="trainerFactory.trainer.linkedin"
                       class="sync-icon sync-linkedin active"
                       target="_blank"
                       ng-attr-title="{{trainerFactory.trainer.name.first}}'s LinkedIn page"
                       ng-href="{{trainerFactory.trainer.linkedin.link}}">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a ng-if="trainerFactory.trainer.instagram"
                       class="sync-icon sync-instagram active"
                       target="_blank"
                       ng-attr-title="{{trainerFactory.trainer.name.first}}'s Instagram page"
                       ng-href="{{trainerFactory.trainer.instagram.link}}">
                        <i class="fa fa-instagram-square"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</form>
