<div class="modal-content verify-certificaiton-modal">
    <div class="modal-header">
        <div class="button-block" ng-click="closeThisDialog(false)">
            <button type="button" class="close"data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <h1 class="h4 modal-title">
            Contact {{trainerFactory.trainer.name.first}}
        </h1>
    </div>
    <form class="form" name="myForm" ng-submit="send(myForm)">
        <fieldset ng-disabled="globalAjax.busy && !globalAjax.busy.$cgBusyFulfilled">
            <div class="modal-body">
                <div class="form-intro alert alert-info">
                    <!--&lt;!&ndash;<i class="fa fa-info-circle"></i> -->
                    Fill in your details below.  If you're looking to train with {{trainerFactory.trainer.name.first}}, please
                    be sure to include some extra information about yourself or your fitness goals.
                </div>
                <div layout="row md-input-row">
                    <md-input-container class="md-block md-icon-float" flex>
                        <label>
                            First Name
                        </label>
                        <md-icon>
                            <i class="fa fa-font"></i>
                        </md-icon>
                        <input ng-change="removeMongooseError(myForm, 'firstName')"
                               type="text"
                               name="firstName"
                               ng-model="inquiry.user.name.first"/>
                        <div ng-messages="myForm.firstName.$error" class="md-auto-hide">
                            <div ng-message="mongoose">{{myForm.firstName.$error.mongoose}}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block md-icon-float" flex>
                        <label>
                            Last Name
                        </label>
                        <input ng-change="removeMongooseError(myForm, 'lastName')"
                               type="text"
                               name="lastName"
                               ng-model="inquiry.user.name.last"/>
                        <div ng-messages="myForm.lastName.$error" class="md-auto-hide">
                            <div ng-message="mongoose">{{myForm.lastName.$error.mongoose}}</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block md-icon-float" flex>
                    <label>
                        Email
                    </label>
                    <md-icon>
                        <i class="fa fa-envelope-o"></i>
                    </md-icon>
                    <input ng-change="removeMongooseError(myForm, 'email')"
                           type="text"
                           name="email"
                           ng-model="inquiry.user.email"/>
                    <div ng-messages="myForm.email.$error" class="md-auto-hide">
                        <div ng-message="mongoose">{{myForm.email.$error.mongoose}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Comment</label>
                    <md-icon>
                        <i class="fa fa-comment-o"></i>
                    </md-icon>
                    <textarea ng-model="inquiry.comment"
                              ng-change="removeMongooseError(myForm, 'comment')"
                              md-maxlength="750"
                              name="comment"
                              rows="5"
                              md-select-on-focus></textarea>
                    <div ng-messages="myForm.comment.$error" class="md-auto-hide">
                        <div ng-message="mongoose">{{myForm.comment.$error.mongoose}}</div>
                    </div>
                </md-input-container>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="action-buttons">
                        <div class="btn btn-action btn-danger" ng-click="closeThisDialog(false)">
                            Cancel
                        </div>
                        <button type="submit" class="btn btn-action btn-default">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>