.alert-message {
	left: 0;
	right: 0;
	color:white;
	z-index:999999999999;
	// positioning at the bottom of the nav bar
	position: absolute;
	top: 100%;
	.message {
		transform-origin:50% 0%;
		transition : transform .5s, opacity .5s;
		text-align:center;
		transform: scale(1, 1);
		padding:1em;
		&.success {
			background:green;
		}
		&.error {
			background:firebrick;
		}
		&.info {
			background: #8ACBE8;
			color: #34537B;
		}
		&.ng-hide {
			transform: scale(1, 0);
		}
		&.ng-hide-remove {
			opacity: 0;
			transform: scale(1, 0);
		}

		&.ng-hide-remove-active {
			opacity: 1;
			transform: scale(1, 1);
		}

		&.ng-hide-add {
			opacity: 1;
			transform: scale(1, 1);
		}
		&.ng-hide-add-active {
			opacity:0;
			transform: scale(1, 0);
		}

	}
}