<div class="alerts">
    <div ng-show="!alert.closed" ng-repeat="alert in trainer.alerts.profile.home">
        <div ng-if="alert.template">
            <div compile="alert.template"></div>
        </div>
        <div ng-if="!alert.template" ng-show="!alert.closed">
            <div class="alert profile" ng-class="alert.type" >
                <div class="close" ng-click="closeMessage($index)"><i class="fa fa-times"></i></div>
                <h1>{{alert.title}}</h1>
                <div class="welcome-sub notemplate-body">{{alert.sub}}</div>
            </div>
        </div>
    </div>
</div>