<div id="trainer-map-add-location" ng-if="mapseditable">
    <!--<div class="clearfix" ng-show="mapseditable && !addingLocation">-->
        <!--<div class="add-location-button-wrapper">-->
            <!--<div ng-click="locationDialog($event)" class="pull-right btn btn-info btn-block btn-square btn-lg">-->
                <!--{{ trainerFactory.trainer.locations.length ? 'Add another location' : 'Add location' }}-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div md-content-->
         <!--layout-padding-->
         <!--cg-busy="{promise : cgBusy}">-->
        <!--<form class="add-location-form form form-horizontal"-->
              <!--ng-show="addingLocation && !manualLocation.isActive()"-->
              <!--name="form" id="form" ng-submit="submitLocation(form)">-->
            <!--<fieldset ng-disabled="ajax.busy">-->
                <!--<ag-floating-label>-->
                    <!--<label>-->
                        <!--Location-->
                    <!--</label>-->
                    <!--<input id="geocoder-location"-->
                           <!--ng-change="removeMongooseError(form, 'location')"-->
                           <!--type="text"-->
                           <!--name="location"-->
                           <!--ng-model="location"/>-->
                    <!--<div ng-messages="form.location.$error" class="md-auto-hide">-->
                        <!--<div ng-message="mongoose">{{form.location.$error.mongoose}}</div>-->
                    <!--</div>-->
                <!--</ag-floating-label>-->
                <!--<ag-floating-label class="md-block" flex>-->
                    <!--<label>-->
                        <!--Name this location-->
                    <!--</label>-->
                    <!--<input id="title"-->
                           <!--ng-change="removeMongooseError(form, 'title')"-->
                           <!--type="text"-->
                           <!--name="title"-->
                           <!--ng-model="trainerFactory.newLocation.title" />-->
                    <!--<div ng-messages="form.title.$error" class="md-auto-hide">-->
                        <!--<div ng-message="mongoose">{{form.title.$error.mongoose}}</div>-->
                    <!--</div>-->
                <!--</ag-floating-label>-->
                <!--&lt;!&ndash; Add location action buttons &ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<div class="action-buttons">-->
                        <!--<button type="submit" class="btn-action btn-primary">Add</button>-->
                        <!--<div class="btn-action btn-danger" ng-click="toggleLocation()">Cancel</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</fieldset>-->
        <!--</form>-->
    <!--</div>-->
    <form name="manualForm" id="manualForm" ng-submit="submitLocation(manualForm)"
          class="add-location-form form form-horizontal" ng-if="addingLocation && manualLocation.isActive()">
        <fieldset ng-disabled="ajax.busy">
            <div class="module sm text-left">
                <header>
                    <h1>
                        <a href="#" ng-click="manualLocation.toggle()" class="back top-right address-type-toggle">
                            <i class="fa fa-chevron-left"></i> Location Search</a>
                        Address
                    </h1>
                </header>
                <input type="hidden" name="location" id="location" ng-model="location"/>


                <div class="group has-margin">
                    <div class="form-group">
                        <label for="street-address-1" class="col-sm-6 control-label">
                            Street Address 1
                        </label>
                        <div class="input-container col-sm-18">
                            <input name="address_line_1"
                                   id="street-address-1"
                                   ng-change="removeMongooseError(manualForm, 'location');
                                   removeMongooseError(manualForm, 'address_line_1');"
                                   class="form-control"
                                   type="text"
                                   ng-model="trainerFactory.newLocation.address_line_1"
                                   placeholder="Street address 1"/>
                            <div class="form-error" ng-show="manualForm.location.$error.mongoose
                            || manualForm.address_line_1.$error.mongoose">
                                <span>{{errors.location ? errors.location : errors.address_line_1}}</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="street-address-2" class="col-sm-6 control-label">
                            Street Address 2
                        </label>
                        <div class="input-container col-sm-18">
                            <input id="street-address-2"
                                   ng-change="removeMongooseError(manualForm, 'location');
                                   removeMongooseError(manualForm, 'location')"
                                   class="form-control"
                                   type="text"
                                   ng-model="trainerFactory.newLocation.address_line_2"
                                   placeholder="Street address 2"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-6 control-label">
                            City
                        </label>
                        <div class="input-container col-sm-18">
                            <input name="city"
                                   id="city"
                                   ng-change="removeMongooseError(manualForm, 'location');
                                   removeMongooseError(manualForm, 'city')"
                                   class="form-control"
                                   type="text"
                                   ng-model="trainerFactory.newLocation.city"
                                   placeholder="City"/>
                            <div class="form-error" ng-show="manualForm.city.$error.mongoose"><span>{{errors.city}}</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-6 control-label">
                            State
                        </label>
                        <div class="input-container col-sm-18">
                            <input name="state"
                                   id="state"
                                   ng-change="removeMongooseError(manualForm, 'location');
                                   removeMongooseError(manualForm, 'state')"
                                   class="form-control"
                                   type="text"
                                   ng-model="trainerFactory.newLocation.state"
                                   placeholder="State"/>
                            <div class="form-error" ng-show="manualForm.state.$error.mongoose"><span>{{errors.state}}</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zipcode" class="col-sm-6 control-label">
                            Zipcode
                        </label>
                        <div class="input-container col-sm-18">
                            <input id="zipcode" ng-change="removeMongooseError(manualForm, 'location')" class="form-control" type="text" ng-model="trainerFactory.newLocation.zipcode" placeholder="Zipcode"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-6 control-label">
                            Name this location
                        </label>
                        <div class="col-sm-18">
                            <input id="title" ng-keydown="removeMongooseError(manualForm, 'title')" placeholder="ex: Home Studio or Gold's Gym Van Ness" type="text" name="title" ng-model="trainerFactory.newLocation.title" class="form-control"/>
                            <div class="form-error" ng-show="manualForm.title.$error.mongoose"><span>{{errors.title}}</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="action-buttons">
                            <button type="submit" class="btn-action btn-primary">Add</button>
                            <div class="btn-action btn-danger" ng-click="toggleLocation()">Cancel</div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>