 $icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
@import 'styles/_variables.scss';
@import 'styles/mixins/_mixins.scss';
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'styles/mixins/_grid-framework.scss';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

 .container {
	 @include responsive-padding();
 }

.browsehappy { 
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
} 
 
// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'account/dashboard/dashboard.scss';
@import 'admin/admin.scss';
@import 'admin/trainers/list/admin-trainers-list.scss';
@import 'animations.scss';
@import 'main/main.scss';
@import 'main/partials/find-section/find-section.scss';
@import 'main/partials/jumbotron/jumbotron.scss';
@import 'main/partials/trainers-home/category-home.scss';
@import 'styles/_buttons.scss';
@import 'styles/_grid.scss';
@import 'styles/_variables.scss';
@import 'styles/alerts.scss';
@import 'styles/bootstrap-overrides.scss';
@import 'styles/centered-tables.scss';
@import 'styles/forms.scss';
@import 'styles/menu.scss';
@import 'styles/mixins/_grid-framework.scss';
@import 'styles/mixins/_mixins.scss';
@import 'styles/xeditable.scss';
@import 'trainer/account/certifications/certifications.scss';
@import 'trainer/public/profile/components/certifications/profile-certifications.scss';
@import 'trainer/public/profile/components/trainer-basic-info/trainer-basic-info.scss';
@import 'trainer/public/profile/profile-picture.scss';
@import 'trainer/public/profile/profile.scss';
@import 'trainer/register/register.scss';
@import 'trainer/trainer.scss';
@import 'alert-message/alert-message.scss';
@import 'modal/modal.scss';
@import 'navbar-new/navbar-new.scss';
@import 'screen-size/screen-size.scss';
// endinjector