<md-dialog class="flexible-dialog-small">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                Official Documents - {{certificationV2.certification_type.name}}
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon>
                    <i class="material-icons">
                        close
                    </i>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="verify-certification-modal">
        <form name="uploadDocumentForm"
              ng-submit="submitNewCertification(uploadDocumentForm)">
            <div ng-if="numActiveFiles()"
                 class="">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                            <span>
                                {{
                                    numActiveFiles() > 1
                                    ? numActiveFiles() + ' Files'
                                    : '1 file'
                                }}
                                uploaded
                            </span>
                    </div>
                </md-toolbar>
                <md-table-container>
                    <table md-table>
                        <thead md-head
                               md-order="query.order"
                               md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column>
                                        <span>
                                            Name
                                        </span>
                                </th>
                                <th md-column>
                                        <span>
                                            Status
                                        </span>
                                </th>
                                <th md-column class="download">
                                        <span class="text-right">
                                            Download
                                        </span>
                                </th>
                                <th md-column class="delete">
                                        <span class="text-right">
                                            Delete
                                        </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr ng-repeat-start="file in getActiveFiles()"></tr>
                            <tr md-row ng-if="!file.deleting">
                                <td md-cell ng-if="!file.deleting">
                                    {{file.user_desired_name || 'No name'}}
                                </td>
                                <td md-cell ng-if="!file.deleting">
                                    <span class="status" ng-class="file.status">
                                        {{file.status || 'status unavailable'}}
                                    </span>
                                </td>
                                <td md-cell ng-if="!file.deleting" class="download">
                                    <md-button href="{{file.s3_url}}"
                                               target="_blank"
                                               class="md-icon-button">
                                        <i class="material-icons">
                                            file_download
                                        </i>
                                    </md-button>
                                </td>
                                <td md-cell ng-if="!file.deleting" class="delete">
                                    <md-button ng-click="toggleDeleteFile(file)"
                                               class="md-icon-button">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </md-button>
                                </td>
                            </tr>
                            <tr ng-if="file.deleting">
                                <td colspan="4" md-cell>
                                    <md-list>
                                        <md-list-item layout="row" layout-align="center center">
                                            <p>
                                                Are you sure you want to delete this file?
                                            </p>
                                            <div>
                                                <md-button ng-click="deleteFile(uploadDocumentForm, file)">
                                                    Yes
                                                </md-button>
                                                <md-button ng-click="toggleDeleteFile(file)">
                                                    Cancel
                                                </md-button>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </td>
                            </tr>
                            <tr ng-repeat-end></tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
            <div class="md-dialog-content">
                <div ng-if="!fileModel.file.name && !numActiveFiles()">
                    <h4>
                        You haven't uploaded any documents yet
                    </h4>
                </div>
                <div  ng-if="fileModel.file.name">
                    <ag-floating-label>
                        <label>Name</label>
                        <input type="text"
                               id="name"
                               name="name"
                               server-error
                               focus-me="true"
                               required
                               ng-model="fileModel.name"
                               />
                        <ag-hints>
                            <ag-hint>Ex: "Yoga certificate 2016"</ag-hint>
                        </ag-hints>
                        <div ng-messages="uploadDocumentForm.name.$error">
                            <div ng-message="required">Please set a name</div>
                            <div ng-message="mongoose">{{uploadDocumentForm.name.$error.mongoose}}</div>
                        </div>
                    </ag-floating-label>
                    <div class="form-error" ng-if="uploadDocumentForm.file.$error">
                        <span ng-show="uploadDocumentForm.file.$error.mongoose">{{uploadDocumentForm.file.$error
                            .mongoose}}</span>
                    </div>
                    <div class="actions" layout="row" layout-align="end center">
                        <md-button ng-click="submitNewCertification(uploadDocumentForm)">
                            Submit
                        </md-button>
                        <md-button ng-click="toggleChooseFile(uploadDocumentForm)">
                            Cancel
                        </md-button>
                    </div>
                </div>
            </div>

            <md-dialog-actions layout="row">
                <md-button ng-click="toggleChooseFile(uploadDocumentForm)" ng-disabled="numActiveFiles() >= 3">
                    <i class="material-icons">
                        cloud_upload
                    </i>
                    <span ng-if="numActiveFiles() >= 3">
                        File limit reached
                    </span>
                    <span ng-if="numActiveFiles() < 3">
                        {{numActiveFiles()  ? 'Upload another file' : 'Choose a file'}}
                    </span>
                </md-button>
                <md-button ng-click="cancel()">
                    Finished
                </md-button>
                <input id="file"
                       type="file"
                       ngf-select
                       ngf-change="fileChanged(uploadDocumentForm, $files, $file)"
                       ng-model="fileModel.file"
                       name="file"
                       ngf-model-invalid="errorFiles"
                       ngf-max-size="{{maxSize}}MB"
                       required>
                <div class="form-error" ng-if="uploadDocumentForm.file.$error">
                    <span ng-show="uploadDocumentForm.file.$error.maxSize">File too large:
                    {{errorFiles[0].size / 1000000|number:1}}MB.  Please upload a file smaller than {{maxSize}}MB</span>
                </div>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>
<!--
<div class="modal-content verify-certificaiton-modal">
    <div class="modal-header">
        <div class="button-block" ng-click="closeThisDialog(false)">
            <button type="button" class="close"data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <h4 class="modal-title">
            Verification of
            <div class="verifying-certification-name">
                {{certificationV2.certification_type.organization.name}} - {{certificationV2.certification_type.name}}
            </div>
        </h4>
    </div>
    <div md-content>
        <form class="form form-horizontal"
              name="myForm"
              ng-submit="submitNewCertification(myForm)">
            <fieldset ng-disabled="globalAjax.busy && !globalAjax.busy.$cgBusyFulfilled">
                <div class="modal-body">
                    <div class="form-group" ng-if="!fileModel.file.name && !certificationV2.verification.files.length">
                        <div class="col-xxs-24 text-center">
                            <h1 class="h3">
                                You haven't uploaded any documents yet
                            </h1>
                        </div>
                    </div>
                    <div class="form-group" ng-if="certificationV2.verification.files.length">
                        <div class="files col-xxs-24 text-center">
                            <header>
                                <h1 class="h4">
                                    {{
                                    certificationV2.verification.files.length > 1
                                    ? certificationV2.verification.files.length + ' Files'
                                    : '1 File'
                                    }} Uploaded
                                </h1>
                            </header>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <th class="file-name">
                                        Name
                                    </th>
                                    <th>
                                        Verfication
                                    </th>
                                    <th>
                                        Download
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="file in certificationV2.verification.files" >
                                        <td class="file-name" ng-show="!file.deleting">
                                            {{file.user_desired_name || 'No name'}}
                                        </td>
                                        <td ng-show="!file.deleting">
                                            {{file.status || 'Pending'}}
                                        </td>
                                        <td ng-show="!file.deleting">
                                            <a ng-href="{{file.s3_url}}" target="_blank">
                                                <i class="fa fa-download"></i>
                                            </a>
                                        </td>
                                        <td ng-show="!file.deleting">
                                            <div class="delete" ng-click="toggleDeleteFile(file)">
                                                <i class="fa fa-times-circle"></i>
                                            </div>
                                        </td>
                                        <td ng-show="file.deleting" colspan="4" class="delete-file-cell">
                                            <table class="delete-file-table">
                                                <tr>
                                                    <td>
                                                        <header>
                                                            <h1 class="h4">
                                                                Are you sure you want to delete this file?
                                                            </h1>
                                                        </header>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-group">
                                                        <div class="action-buttons nopadding">
                                                            <div class="btn btn-action btn-default"
                                                                 ng-click="toggleDeleteFile(file)">
                                                                Cancel
                                                            </div>
                                                            <div class="btn btn-action btn-danger"
                                                                 ng-click="deleteFile(myForm, file)">
                                                                Delete
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group" ng-if="fileModel.file.name">
                        <div class="col-xxs-24">
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input id="name"
                                       name="name"
                                       ng-change="formControl.removeMongooseError(myForm, 'name')"
                                       ng-model="fileModel.name"
                                       type="text"/>
                                <div class="ag-hint-wrapper">
                                    <ag-hint on-focus="true">Ex: "Yoga certificate 2016"</ag-hint>
                                </div>
                                <div ng-messages="myForm.name.$error" class="md-auto-hide">
                                    <div ng-message="mongoose">{{myForm.name.$error.mongoose}}</div>
                                </div>
                            </md-input-container>
                            <div class="form-error" ng-if="myForm.file.$error">
                                <span ng-show="myForm.file.$error.mongoose">{{myForm.file.$error.mongoose}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="fileModel.file.name">
                        <div class="action-buttons">
                            <div class="btn btn-action btn-danger" ng-click="toggleChooseFile(myForm)">
                                Cancel
                            </div>
                            <div class="btn btn-action btn-default" ng-click="submitNewCertification(myForm)">
                                Submit
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!fileModel.file.name">
                        <div class="col-xxs-24">
                            <div class="btn btn-default btn-block btn-square btn-lg"
                                 ng-click="toggleChooseFile(myForm)">
                                {{certificationV2.verification.files.length ? 'Upload another file' : 'Choose a file'}}
                            </div>
                        </div>
                    </div>
                    <input id="file"
                           type="file"
                           ngf-select
                           ngf-change="fileChanged(myForm, $files, $file)"
                           ng-model="fileModel.file"
                           name="file"
                           ngf-model-invalid="errorFiles"
                           ngf-max-size="{{maxSize}}MB"
                           required>
                    <div class="form-error" ng-if="myForm.file.$error">
                        <span ng-show="myForm.file.$error.maxSize">File too large:
                        {{errorFiles[0].size / 1000000|number:1}}MB.  Please upload a file smaller than {{maxSize}}MB</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class=" btn-square btn-lg btn-primary btn-block" ng-click="closeThisDialog(false)">
                        Done
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
-->