#trainer-info {
	.module {
		overflow:hidden;
	}
	&.profile-style {
		@include respond-to(xxs){
			padding-left:0;
			padding-right:0;
		}
	}
	header {
		margin-bottom:3rem;
		text-align:left;

		.edit-button {
			i {
				padding:.5em;
				font-size:2em;
			}
		}
	}

	.gender {
		text-transform: capitalize;
	}
	form {
		.form-group {
			position:relative;
			@include respond-to(xxs) {
				.form-control {
					font-size:1.4rem;
					padding:5px 7px;
				}
			}
			.birthday-picker {
				select {
					@extend .form-control;
					@extend .col-xxs-8;
					@include respond-to(xxs) {
						padding:0!important;
					}
				}
			}
			.btn-action {
				//width:auto;
				@extend .col-xxs-12;
			}
			.info-horizontal-label {
				@extend .col-xxs-8;
				text-align:left;
				@include respond-to(xxs) {
					text-align:left;
					font-size:1em;
					width:25%;
				}
			}
			.info-horizontal-value {
				@extend .col-xxs-16;
				text-align:center;
				@include respond-to(xs) {
					text-align:right;
				}
				@include respond-to(xxs) {
					width:75%;
				}
			}
			.info-horizontal-aside {
				position:absolute;
				right:$grid-gutter-width / 2;
				top:0;
				width:40px;
				text-align:right;
				color:#c5c5c5;
			}
			&.has-aside {
				/*
				.info-horizontal-label {
					@include respond-to(xxs) {
						text-align:left;
					}
					@extend .col-xxs-7;
				}
				.info-horizontal-value {
					@extend .col-xxs-15;
				}
				.info-horizontal-edit {
					@extend .col-xxs-2;
				}
				*/
				.info-horizontal-value {
					padding-right:60px;
				}
			}
		}
		&.editing {
			.info-horizontal-aside {
				padding:.5em;
				color:#333;
				cursor: pointer;
			}
		}
	}
}