<div class="loading-block-xs" ng-if="!trainerFactory.trainer.name"></div>
<md-card class="section-animate-in"
         ng-if="trainerFactory.trainer.name"
         ag-editable-container
         trainer-factory-section="'email'">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Email</span>
            </h2>
            <span flex></span>
            <md-button md-ink-ripple class="md-icon-button" ng-click="toggleEditing()">
                <i  class="material-icons">mode_edit</i>
            </md-button>
        </div>
    </md-toolbar>
    <form id="form"
          ng-submit="changeEmail(form)"
          name="form">
        <md-card-content cg-busy="{promise : cgBusy}">
            <div class="ag-editable-container">
                <div class="ag-editable-default">
                    <div class="info-row">
                        <div class="name">
                            Email
                        </div>
                        <div class="value">
                            {{trainerFactory.trainer.email}}
                        </div>
                    </div>
                </div>
                <div class="ag-editable-editing">
                    <ag-floating-label>
                        <label>
                            Email
                        </label>
                        <input name="email"
                               server-error
                               ng-model="trainerFactory.trainerEditing.email"/>
                        <div ng-messages="form.email.$error">
                            <div ng-message="mongoose">{{form.email.$error.mongoose}}</div>
                        </div>
                    </ag-floating-label>
                    <md-card-actions ng-if="editing" layout="row" layout-align="end center">
                        <md-button type="submit">Save</md-button>
                        <md-button ng-click="toggleEditing()">Cancel</md-button>
                    </md-card-actions>
                </div>
            </div>
        </md-card-content>
    </form>
</md-card>