<md-sidenav md-is-locked-open="isLockedOpen()"
            md-whiteframe="4"
            id="material-messages-menu"
            class="md-sidenav-left"
            md-component-id="messages"
            flex>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>
                <span>Messages</span>
            </h3>
        </div>
    </md-toolbar>
    <div id="menu-items">
        <div layout="row" layout-align="center center" ng-if="chatService.busy">
            <md-progress-linear ng-mode="indeterminate"></md-progress-linear>
        </div>
        <div class="chat-row" ng-if="chatService.error">
            <h4>Couldn't load chats</h4>
        </div>
        <div class="chat-row" ng-if="chatService.initialLoadSuccess && !chatService.chats.length">
            <h4>You don't have any conversations yet</h4>
        </div>
        <!--<md-list>-->
            <!--<md-list-item ui-sref="main.messages.message({id : chat._id})"-->
                          <!--class="md-3-line"-->
                          <!--ng-repeat="chat in chatService.chats">-->
                <a class="chat-row"
                     md-ink-ripple
                     ng-class="{'unread' : chat.unread_count}"
                     ng-repeat="chat in chatService.chats"
                     layout="row"
                     ui-sref-active="active"
                     ui-sref="main.messages.message({id : chat._id})"
                     ng-click="toggleLeft()"
                     layout-align="start start" stop-event>
                    <profile-picture-thumbnail user="chat.user">
                    </profile-picture-thumbnail>
                    <div class="chat-text md-list-item-text" layout="column" flex>
                        <div layout="row" layout-align="space-between center">
                            <div class="name">
                                {{chat.title}}
                            </div>
                            <div class="time">
                                {{chat.time}}
                            </div>
                        </div>
                        <div class="last-message"
                             layout="row"
                             layout-align="start center">
                            <span ng-if="chat.is_reply && !chat.seen_by_recipient">
                                <i class="material-icons">reply</i>
                            </span>
                            <span ng-if="chat.is_reply && chat.seen_by_recipient">
                                <i class="material-icons">check</i>
                            </span>
                            <span layout="row"
                                  flex="100"
                                  layout-align="space-between center">
                                <span flex>
                                    {{chat.last_message_text}}
                                </span>
                                <span class="unread"
                                      flex="initial"
                                      ng-if="chat.unread_count">
                                    {{chat.unread_count}} New
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            <!--</md-list-item>-->
        <!--</md-list>-->
    </div>
</md-sidenav>