<!--<div class="modal-content">-->
    <!--&ndash;&gt;-->
    <!--<div class="modal-body">-->
        <!--<div class="image-area-select-wrapper">-->
            <!--<img id="imgLoaded" ng-src="{{ProfilePicture.image.url}}" ng-style="{'width' : ProfilePicture.width, 'height' : ProfilePicture.height }"/>-->
        <!--</div>-->
        <!--<div class="buttons clearfix">-->
            <!--<div class="btn-square col-xxs-12 btn btn-primary btn-lg" ng-disabled="ProfilePicture.status == 'cropping'"ng-click="saveCrop()">{{ProfilePicture.status == 'cropping' ? 'Cropping' : 'Crop & Save' }}</div>&lt;!&ndash;-->
            <!--&ndash;&gt;<div class="btn-square col-xxs-12 btn btn-danger btn-lg" ng-click="closeThisDialog(false)">Cancel</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<md-dialog id="profile-picture-dialog">
    <form novalidate
          name="profilePictureForm"
          cg-busy="{promise : cgBusy}">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Crop your photo
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <div class="image-area-select-wrapper">
                <img id="imgLoaded"
                     ng-src="{{ProfilePicture.image.url}}"
                     ng-style="{'width' : ProfilePicture.width, 'height' : ProfilePicture.height }"/>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-disabled="ProfilePicture.status == 'cropping'"
                 ng-click="saveCrop()">
                {{ProfilePicture.status == 'cropping' ? 'Cropping' : 'Crop & Save' }}
            </md-button>
            <md-button ng-click="close(false)">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>