<md-dialog id="specialties-dialog"
           flex-lg="30"
           flex-md="50"
           flex-xs="90"
           flex-xxs="100">
    <form name="specialtiesForm" id="specialtiesForm"
          ng-submit="SpecialtiesDialogCtrl.submit(specialtiesForm)"
          cg-busy="{promise : SpecialtiesDialogCtrl.cgBusy}">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Add a Specialty
                </h2>
                <span flex></span>
                <md-button class="md-icon-button"
                           ng-click="SpecialtiesDialogCtrl.close()">
                    <md-icon aria-label="Close dialog">
                        close
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-autocomplete
                        id="specialtyAutocomplete"
                        md-selected-item="SpecialtiesDialogCtrl.selectedItem"
                        md-search-text="searchText"
                        md-items="specialtyModel in SpecialtiesDialogCtrl.getSpecialties(searchText)"
                        md-item-text="specialtyModel.name"
                        md-min-length="1"
                        placeholder="What is your specialty?"
                        md-selected-item-change="SpecialtiesDialogCtrl.submit()">
                    <md-item-template>
                        <div ng-class="{'disabled' : userHasSpecialty(specialtyModel)}">
                            <span md-highlight-text="searchText" md-highlight-flags="^i">
                                {{specialtyModel.name}}
                            </span>
                        </div>
                    </md-item-template>
                    <md-not-found>
                        No specialties matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="SpecialtiesDialogCtrl.close()">
                Finsihed
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>