.btn-transparent {
	@include button-variant(#fff, transparent, #fff);
}
.btn-login {
	//@extend .btn-primary;
	//border-color:white;
	@include button-variant(#fff, transparent, #fff);
}
.btn-signup {
	@include button-variant(#fff, transparent, #323C4D);
}
.btn-book {
	@include button-variant(white, #FC3E3E, #323C4D);
	border-width:.25em;
}
.btn-contact {
	@include button-variant(white, transparent, #323C4D);
}

.btn-custom-small {
	padding:1px 7px;
}

.btn-username {
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btn-text {
	color: skyblue;
	display:inline-block;
	&:hover {
		color: darken(skyblue, 15%);
		cursor:pointer;
	}
}

.delete {
	padding: 0em .24em 0em .2em;
	background: firebrick;
	border-radius: 20px;
}