.alerts {
	padding-bottom:1em;
	// how the alerts are compiled means this is the next alert
	div.ng-scope ~ div.ng-scope {
		margin-top:1rem;
	}
}
.alert {
	.welcome-sub {

	}
	.notemplate-body {
		margin-top:.5rem;
	}
	&.info {
		background: #8ACBE8;
		color:#34537B;
		box-shadow: -3px 3px #8EB7CA;
	}
	&.success {
		//box-shadow: -3px 3px #8ACDA5;
	}
	&.success {
		background-color:$brand-success;
	}
	&.error {
		color: #811D1D;
		background: rgb(221, 123, 123);
	}
	a[editable-text] {
		color:inherit;
		text-decoration:none;
		&:hover {
			color:lighten($body-bg, 5%);
		}
	}
	.description {
		.warning {
			background:rgb(228, 189, 189);
			margin:1rem 0rem;
			padding:.75em;
			border-radius:10px;
		}
		.url {
			line-height:1;
			font-size:1.2em;
			color:#333;
			margin-bottom:.5rem;
		}
		margin-top:1rem;
		.buttons {
			margin-top:1rem;
		}
	}
}