form {
	.ng-invalid-custom {
		border-color:red;
	}
	div.form-error {
		text-align:center;
		overflow:hidden;
		padding:1px 0px;
		margin-top:.3em;
		&.ng-hide-remove {
			padding:0px;
			margin-top:0em;
			max-height:0px;
		}
		&.ng-hide-remove-active {
			margin-top:.3em;
			padding:1px 0px;
			-webkit-transition: margin-top .3s, padding .3s, max-height 1s;
			max-height:100px;
		}
		span {
			border: 1px solid;
			background: #FC0B0B;
			color: #eee;
			padding: .35em 1em;
			display: inline-block;
		}
	}
}