$loading-bg-dark: #ccc;
$loading-bg-light: #eee;
.profile-picture {
	.loading {
	}
}
.loading-bg {
	background: $loading-bg-dark;
}

.loading-fill {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: $loading-bg-dark;
}
//@-webkit-keyframes placeHolderShimmer{
//	0%{background-position:-468px 0}
//	100%{background-position:468px 0}
//}
@keyframes placeHolderShimmer{
	0%{
		background-position-x: 70%;
	}
	100%{
		background-position-x: -110%;
	}
}
*[id^='loading-'], *[class^='loading-']  {
	background: $loading-bg-dark;
}
[id^="loading-"][id$="unstyled"] {
	background: none;
}
[class^="loading-"][class$="xs"] {
	height: 5px;
}
[class^="loading-"][class$="sm"] {
	height: 10px;
}
[class^="loading-"][class$="md"] {
	height: 20px;
}
[class^="loading-noheader"] {
	background: none;
	border: 2px solid;
	&[class*="-md"] {
		height: 350px;
	}
}
[class^="loading-block"] {
	//@extend .md-card;
	margin: 8px;
	@extend .layout-column;
	//border-radius: 2px;
	overflow: hidden;
	&[class*="-md"] {
		height: 350px;
	}
	&[class*="sm"] {
		height: 200px;
	}
	&[class*="xs"] {
		height: 130px;
	}
	.header {
		height: 60px;
		@include respond-to(xxs) {
			height: 40px;
		}
		background: darken($loading-bg-light, 6%);
	}

	&:before {
		height: 55px;
		background: darken($loading-bg-light, 6%);
		content : '';
		display: flex;
	}
	&:after {
		content : '';
		display: flex;

		background: #f6f7f9;
		//background-image: linear-gradient(to right, blue 0%, #bb496e 20%, #90922a 40%, #f6f7f9 100%); for testing
		background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
		background-repeat: no-repeat;
		background-size: 200%;
		height: 100%;
		width: 100%;
		position: relative;
		-webkit-animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: placeHolderShimmer;
		-webkit-animation-timing-function: linear;
	}

	background: $loading-bg-light;
	margin-bottom: 40px;
}
#loading-name {
	height: 20px;
	width: 100%;
}
#loading-address-unstyled {
	> * {
		height: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
#loading-bio {
	height: 75px;
}