.thing-form {
    margin: 20px 0;
}

.ready {
	.fa-spinner {
		display:none;
	}
}

.relative {
	position:relative;
}

.ajax {
	.fa-spinner {
		display:inline-block;
	}
}

// make it so text areas don't get pulled outside, especially of a wrapper that's overflow:hidden
textarea {
	max-width: 100%;
}

.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

.container {
	&.push-down {
		padding-top:20px;
	}
}

.spaced {
	padding-top: 60px;
}

ul {
	-webkit-padding-start:0;
	margin-bottom:0;
}
li {
	// dont do this.  Add "list-unstyled" to the ist if you want this!
	//list-style-type:none;
}
.editable-text input {
	font-size: 1.5rem;
}
.editable-click, a.editable-click {
	text-decoration:none;
	color:inherit;
	border-bottom:0px;
	&:hover {
		color:lighten($body-bg, 50%);
		cursor:pointer;
	}
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
	margin-top: -50px;
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

h1,h2,h3 {
	margin: 0;
	line-height:1em;
}

h1 {
	margin-top:-.1em;
}
section {
	.title {
		margin-bottom:1em;
	}

	//padding:3em 0em;
}

.nav-tabs a {
	color:$lunge-nav-color;
}