#material-menu {
	width: $material-menu-width;
	#menu-items {
		.md-button-toggle {
			position: relative;
			text-transform: uppercase;
			font-weight: 500;
		}
		a.md-button, .md-button-toggle {
			transition: all .5s;
			border-radius:0!important;
			width: 100%;
			button {
				@extend .nopadding;
				@extend .nomargin;
			}
			padding: 10px;
			margin: 0;
			md-icon {
				margin-left:0;
				text-align:right;
			}
			&.active {
				background: $brand-primary;
				color: white;
				i, a, md-icon {
					color:white!important;
				}
			}
		}
	}
	menu-toggle {
		display: block;
	}
	.menu-toggle-section {
		button {
			width: 100%;
		}
		.menu-toggle-list {
			position: relative;
			.sideline {
				position: absolute;
				left: 21px;
				width: 2px;
				top: 20px;
				bottom: 20px;
				background: #e4e4e4;
			}
		}
		i {
			transform-origin: center center;
		}
		ul {
			transition: all .4s ease-in-out;
			transform-origin: 0 0;
			transform: scale(1, 1);
			max-height: 250px;
			&.ng-enter {
				transition: all 0s!important;
				max-height: 0;
				transform: scale(1, 0);
			}
			&.ng-enter-active {
				transition: all .4s!important;
				max-height: 250px;
				transform: scale(1, 1);
			}
			&.ng-leave {
				max-height: 250px;
				transform: scale(1, 1);
			}
			&.ng-leave-active {
				max-height: 0;
				transform: scale(1, 0);
			}
			@extend .md-whiteframe-z2;
			md-button, a, button {
				&.active {
					background: #eee!important;
					color: #333!important;
				}
			}
			//background: #eee;
		}
		menu-link {
			md-icon {
				padding-left: 20px;
			}
		}
	}
}