<div class="menu-toggle-section" ng-class="{'opened' : isOpen()}">
    <md-button class="md-button-toggle"
               ng-class="{'active' : isStateInsideToggledSection(section)}"
               ng-click="toggle()"
               aria-controls="side-menu-"
               aria-expanded="">
        <div flex
             layout="row"
             layout-align="space-between center">
            <i class="material-icons expand_more" ng-class="{'rotate-up' : isOpen()}">
                keyboard_arrow_down
            </i>
            <div>
                {{section.name}}
            </div>
        </div>
    </md-button>
    <ul ng-if="isOpen()"
        id="side-menu"
        class="menu-toggle-list">
        <div class="sideline"></div>
        <li ng-repeat="page in section.pages">
            <menu-link section="page">
            </menu-link>
        </li>
    </ul>
</div>