<md-button ui-sref-active="active"
           ui-sref="{{getSref(section.state, section.stateOptions)}}"
           ng-click="onAction(section.action)"
           layout="row"
           layout-align="space-between center">
    <md-button class="md-icon-button" ng-if="section.profile">
        <i class="profile-picture-thumb"
                bg-image="{{auth.getCurrentUser().profile_picture.thumbnail.url}}">
        </i>
    </md-button>
    <span></span>
        <md-icon ng-if="!section.profile">
            <i class="material-icons">
                {{section.icon}}
            </i>
        </md-icon>
        <span>
            {{section.name}}
        </span>
</md-button>