<md-dialog flex-lg="30" flex-md="50" flex-xs="90" flex-xxs="100" id="trainee-location-dialog">
    <form name="googlePlacesForm"
          ng-submit="submit(googlePlacesForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{userFactory.user.location.state ? 'Update' : 'Add'}} your location</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div md-content layout-padding>
                <em>only the city and state will be visible to others</em>
                <!--<h3>Search using the Google Places API</h3>-->
                <div cg-busy="{promise : cgBusy}">
                    <places-autocomplete ng-model="userFactory.userEditing.location"
                                         form="googlePlacesForm"
                                         ng-change="removeMongooseError(googlePlacesForm, 'location')">
                    </places-autocomplete>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button type="submit">
                Add
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>