section.specialties {
	overflow: visible;
}
specialties {
	.empty {
		@extend .layout-row;
		@extend .layout-align-space-between-center;
		padding: 16px $list-item-padding-horizontal;
		min-height: $list-item-height;
	}
	md-card-content {
		padding: 0;
	}
	md-list {
		padding: $card-padding;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.specialty-list {
		position: relative;
		overflow: hidden; // needed for transition effects
		p {
			margin-bottom: 0;
		}
		.removing, .not-removing {
			min-height: 48px;
			width: 100%;
		}
		.not-removing {
			-webkit-transition: all .4s cubic-bezier(.55,0,.1,1);
			right: 0;
			&.ng-enter {
				position: absolute;
				right: -100%;
			}
			&.ng-enter-active {
				position: absolute;
				right: 0;
			}
			&.ng-leave {
				position: absolute;
				right: 0;
			}
			&.ng-leave-active {
				position: absolute;
				right: -100%;
			}
		}
		.removing {
			-webkit-transition: all .4s cubic-bezier(.55,0,.1,1);
			transform: translate3d(0%,0,0);
			p {
				text-align: left;
			}
			&.ng-enter {
				transform: translate3d(-100%,0,0);
			}
			&.ng-enter-active {
				transform: translate3d(0%,0,0);
			}
			&.ng-leave {
				position: absolute;
				transform: translate3d(0%,0,0);
			}
			&.ng-leave-active {
				position: absolute;
				transform: translate3d(-100%,0,0);
			}
		}
		.none {
			padding:1rem;
			font-size:1.5rem;
			text-align:center;
		}
		li {
			&.specialty-added {
				padding:1rem;
			}
			a {
				padding:1rem;
			}
			.delete {
				float:right;
				&:hover {
					color:$brand-danger;
				}
			}
			~ li {
				border-top:1px solid #ddd;
			}
			&:hover {
				background:#eee;
			}
		}
		.add-specialty-group {
			width:100%;
			.add-specialty-input {
				border-left:0!important;
				width:80%;
				display:inline-block;
			}
			.add-specialty-button {
				width:20%;
				height:40px;
				border-radius:0;
				display:inline-block;
			}
		}
	}
}
