<div ng-if="!userFactory.user.name" class="loading-block-xs"></div>
<md-card class="section-animate-in"
         ng-if="userFactory.user.name">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Specialties</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button"
                       ng-if="editable"
                       ng-click="SpecialtiesCtrl.showDialog($event)">
                <i class="material-icons">add</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-card-content cg-busy="{promise : SpecialtiesCtrl.cgBusy}">
        <md-list class="specialty-list">
            <md-list-item ng-repeat="specialty in userFactory.userEditing.specialties">
                <div class="md-list-item-animation-container">
                    <div flex
                         class="list-item-default"
                         ng-if="!specialty.removing"
                         layout="row"
                         layout-align="space-between center">
                        <p>
                            {{specialty.name}}
                        </p>
                        <md-button class="md-icon-button"
                                   ng-if="editable">
                            <md-icon ng-click="SpecialtiesCtrl.toggleRemoveSpecialty(specialty)">
                                <i class="material-icons">
                                    delete
                                </i>
                            </md-icon>
                        </md-button>
                    </div>
                    <div flex
                         class="list-item-removing"
                         ng-if="specialty.removing"
                         layout="row"
                         layout-align="space-between center">
                        <p flex>
                            Are you sure you want to remove the <strong>{{specialty.name}}</strong> specialty?
                        </p>
                        <div flex="initial" hide-xs>
                            <md-button ng-click="SpecialtiesCtrl.removeSpecialty(specialty)">
                                Yes
                            </md-button>
                            <md-button ng-click="SpecialtiesCtrl.toggleRemoveSpecialty(specialty)">
                                Cancel
                            </md-button>
                        </div>
                        <div flex="initial" hide-gt-xs
                             layout="row"
                             layout-align="center right">
                            <md-button class="md-icon-button"
                                       ng-click="SpecialtiesCtrl.removeSpecialty(specialty)">
                                <i class="material-icons">
                                    check
                                </i>
                            </md-button>
                            <md-button class="md-icon-button"
                                       ng-click="SpecialtiesCtrl.toggleRemoveSpecialty(specialty)">
                                <i class="material-icons">
                                    cancel
                                </i>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-list-item>
            <div ng-if="!userFactory.user"
                 layout="row"
                 layout-align="center center">
                <md-progress-circular md-diameter="50">
                </md-progress-circular>
            </div>
            <div ng-if="userFactory.user &&!userFactory.userEditing.specialties.length"
                 class="empty">
                {{userFactory.user.name.first}} doesn't have any specialties listed yet.
            </div>
        </md-list>
    </md-card-content>
</md-card>