<div class="title">
    My Locations
</div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" control="control">
        <!--
        <ui-gmap-markers models="markers">
        </ui-gmap-markers>
        -->
        <!--
        <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="'onClick'">
            <ui-gmap-windows show="selectedMarker.show" options="windowOptions" closeClick="closeClick()">
                <div>hello world</div>
            </ui-gmap-windows>
        </ui-gmap-markers>
        -->
        <!--
    <div ng-repeat="marker in markers">
        <ui-gmap-marker idkey="marker.id" coords="marker.coords" options="marker.options" click="marker.onClick()" events="marker.events" >
                <ui-gmap-window show="marker.show" options="windowOptions" closeClick="marker.onCloseClick()" ng-cloak>
                <div class="infoWindow">
                    {{selectedMarker.title}}
                    <div>
                        <div class="address_line_1" ng-class="{'active' : selectedMarker.address_line_1}">{{selectedMarker.address_line_1 ? selectedMarker.address_line_1 : ''}}</div>
                        <div class="city-state">
                            <span class="city"  ng-class="{'active' : selectedMarker.city}">{{selectedMarker.city ? selectedMarker.city + ',' : ''}}</span>
                            <span class="state"  ng-class="{'active' : selectedMarker.state}">{{selectedMarker.state ? selectedMarker.state : ''}}</span>
                        </div>
                        <div class="zipcode" ng-class="{'active' : selectedMarker.zipcode}">{{selectedMarker.zipcode ? selectedMarker.zipcode : ''}}</div>
                    </div>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker>
        </div>
        <!--
        <window coords="selected" show="selected.show">
            <div style="background:red">L<br/>love</div>
        </window>
        -->
    </ui-gmap-google-map>
<div class="content">
    <div class="clearfix">
        <div class="text-center empty" ng-if="!user.locations.length && !addingLocation">
            <h3>You don't have any locations yet
            </h3>
        </div>
        <div ng-show="!addingLocation" ng-click="toggleLocation()" class="pull-right btn btn-info btn-block">
            {{ user.locations.length ? 'Add another location' : 'Add location' }}
        </div>
    </div>
    <form class="form form-horizontal" ng-show="addingLocation" name="form" id="form" ng-submit="submitLocation(form)">
        <div class="form-group clearfix">
            <label for="location" class="col-sm-3 control-label">
                Location
            </label>
            <div class="col-sm-9">
                <input id="location" placeholder="Search places" type="text" name="location" ng-model="location" class="form-control"/>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="pull-right">
                    Can't find your location?
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">
                Name this location
            </label>
            <div class="col-sm-9">
                <input id="title" placeholder="ex: Home Studio or Gold's Gym Van Ness" type="text" name="title" ng-model="title" class="form-control"/>
            </div>
        </div>
        <div class="buttons text-right">
            <button type="submit" class="btn btn-primary">
                Add
            </button>
            <div class="btn btn-danger" ng-click="toggleLocation()">Cancel</div>
        </div>
    </form>
    <div class="locations" ng-show="user.locations.length">
        <div class="row table-header">
            <div class="col-xxs-4">
                Title
            </div>
            <div class="col-xxs-4">
                Address
            </div>
            <div class="col-xxs-4 text-right">
                Delete Location?
            </div>
        </div>
        <div class="location row" ng-repeat="location in user.locations">
            <div class="location-title col-xxs-4">
                <div ng-if="!location.editingTitle">
                    {{ location.title }}
                </div>
                <div ng-if="location.editingTitle">
                    <form class="form" ng-submit="changeTitle(location)">
                        <input type="text" class="form-control" ng-model="location.title"/>
                        <div class="buttons">
                            <button type="submit" class="btn btn-default">
                                Ok
                            </button>
                            <div class="btn btn-danger" ng-click="toggleChangeTitle(location)">
                                Cancel
                            </div>
                        </div>
                    </form>
                </div>
                <div class="btn-text" ng-if="!location.editingTitle" ng-click="toggleChangeTitle(location)"><i class="fa fa-edit"></i> Change Title</div>
            </div>
            <div class='location-address col-xxs-4'>
                <div class='address_line_1'>{{ location.address_line_1 }}</div>
                <div class='city-state'>{{ location.city + ', ' + location.state }}</div>
                <div class='zipcode'>{{ location.zipcode }}</div>
            </div>
            <div class="location-buttons col-xxs-4 text-right">
                <div class="btn btn-danger" ng-click="removeLocation(location)" ng-disabled="location.removing"><i ng-if="location.removing" class="fa fa-spin fa-spinner"></i> {{location.removing ? 'Removing' : 'Remove'}}</div>
            </div>
        </div>
    </div>
</div>