.angular-google-map-container { height: 400px; }
.locations {
	margin-top:1rem;
	.table-header {
		background: white;
		color: black;
		font-weight: bold;
		font-size:1.2em;
		@include respond-to(xxs){
			font-size:1em;
		}
	}
	.location {
		&:nth-of-type(even) {
			background: lighten($body-bg, 7%);
		}
		padding: .5rem 0rem;
		border-bottom:1px solid;
		~ .location {
		}
	}
	.empty {
		padding-bottom:1rem;
	}
}
form {
	.buttons {
		margin-top:.5rem;
	}
}
.infoWindow {
	color:white;
	font-size:12px;
	background:darken($body-bg, 10%);
	border-radius:5px;
	border:1px solid lighten($body-bg, 30%);
	.title {
		overflow:hidden;
		background:lighten($body-bg, 10%)!important;
		color:white!important;
		font-size:18px!important;
		border-bottom:1px solid #666;
		padding:.8rem 2rem!important;
	}
	.close {
		color:white!important;
		opacity:.7!important;
		font-size: 1.45rem!important;
		padding:.3rem;
		&:hover {
			color:#ddd!important;
		}
		position:absolute;
		top: .0rem;
		right:.2rem;
	}
	.content {
		padding:.8rem 2rem!important;
	}
	.city {
		&.active {
		}
	}
}