<div id="certifications" class="push-down container trainers">
        <div class="title clearfix">
            <h1>Certifications</h1>
            <div id="certification-filter">
                <i class="fa fa-filter"></i>
            </div>
        </div>
        <form class="search-form form-inline clearfix" role="form">
            <div class="form-group">
                <div class="input-group">
                    <label class="sr-only" for="search">Search</label>
                    <div class="input-group-addon left"><i class="fa fa-search"></i></div>
                    <input ng-model="searchQuery" type="text" class="form-control" id="search" placeholder="Search certifications">
                </div>
            </div>
        </form>
    <!--
        <section class="filter">
            <div class="btn btn-default" ng-class="{active : buttonAddedType == 'all' || !buttonAddedType }"
                 ng-click="buttonAddedType='all'">All</div>
            <div class="btn btn-default" ng-class="{active : buttonAddedType == 'added'}"
                 ng-click="buttonAddedType='added'">Added</div>
            <div class="btn btn-default" ng-class="{active : buttonAddedType == 'not-added'}"
                 ng-click="buttonAddedType='not-added'">Not Added</div>
        </section>
        -->
        <accordion>
            <accordion-group ng-class="{active : userHasCert(cert)}" class="cert" ng-repeat="cert in certs
    | CertificationQuery:searchQuery
    | CertificationAddedFilter:trainerFactory.trainer:buttonAddedType
    | orderBy:cert.name">
                <accordion-heading>
                    <div ng-if="userHasCert(cert)" class="pull-right cert-info-blurb">
                        <i class="fa fa-check"></i>{{userHasCert(cert)}}
                    </div>
                    {{cert.name}}
                </accordion-heading>
                <ul class="types" stop-event>
                    <li class="type" ng-repeat="type in cert.types">
                        <div class="actions">
                            <div class="btn btn-square btn-primary" ng-show="!userHasCertType(cert, type)" ng-click="addCertType(type)">
                                Add
                            </div>
                            <div class="btn btn-square btn-danger" ng-show="userHasCertType(cert, type)" ng-click="removeCertType(type)" >
                                Remove
                            </div>
                        </div>
                        {{type.name}}
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
    <!--
    <div ng-class="{active : userHasCert(cert)}" class="cert" ng-repeat="cert in certs
    | CertificationQuery:searchQuery
    | CertificationAddedFilter:trainer:buttonAddedType
    | orderBy:cert.name"
         ng-click="toggleCert(cert)">

        <div ng-if="userHasCert(cert)" class="pull-right">
            Added: {{userHasCert(cert)}}
        </div>
        <div class="name">
            <h2>{{cert.name}}</h2>
        </div>
        <ul class="types" ng-show="cert.selected" stop-event>
            <li class="type" ng-repeat="type in cert.types">
                <div class="actions">
                    <div class="btn btn-transparent" ng-show="!userHasCertType(cert, type)" ng-click="addCertType(type)">
                        Add
                    </div>
                    <div class="btn btn-transparent" ng-show="userHasCertType(cert, type)" ng-click="removeCertType(type)" >
                        Remove
                    </div>
                </div>
                {{type.name}}
            </li>
        </ul>
    </div>
    -->
