<div id="trainer-certifications" class="trainer-certifications trainer-verify-certifications main-push">
    <header class="fade-in">
        <h1>
            <i class="material-icons">pages</i>
            <span>
                My Certifications
            </span>
        </h1>
        <div id="instructions" class="instructions">
            <div class="top">
                Lunge independently reviews each certification and requires that you submit an electronic copy of the
                official document issued by the authorizing organization.
            </div>
            <div class="accepted-documents">
                <strong>To receive verification, you must upload <u>at least one</u> of the following:</strong>
                <ul>
                    <li>
                        The official organization certificate, scanned and uploaded in .pdf format
                    </li>
                    <li>
                        A copy of a letter form the issuing organization containing your full name, date of issuance,
                        and date of certification expiration.
                    </li>
                </ul>
            </div>
            <div class="bottom">
                Alternate methods will not be reviewed.  For questions, contact <a
                    href="mailto:certifications@lunge.io">certifications@lunge.io</a>.
            </div>
        </div>
    </header>
    <section class="certifications fade-in-300">
        <div id="md-fab-container">
            <md-button class="md-fab" aria-label="Add certification"
                       ui-sref="main.trainer.account.certifications.list">
                <md-icon>
                    <i class="material-icons">add</i>
                </md-icon>
            </md-button>
        </div>
        <md-card ng-if="certificationsEmpty()">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" ng-if="certificationsEmpty()">
                        You have no certifications yet!  Add one by clicking the button above.
                    </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        <md-card ng-repeat="mappedOrganization in trainerFactory.trainer.certifications_meta.organization_map">
            <accordion close-others="true">
                <md-list>
                    <accordion-group is-open="mappedOrganization.isOpen"
                                     class="certification-organization">
                        <accordion-heading>
                            <md-list-item md-ink-ripple>
                                <span layout="row" layout-align="start end"
                                      class="name">
                                    <span class="count-unbubble total-certifications">
                                        <md-tooltip md-direction="top">
                                            {{mappedOrganization.types.count_all}}
                                            {{mappedOrganization.types.count_all > 1
                                            ? 'certifications'
                                            : 'certification'}}
                                            added
                                        </md-tooltip>
                                        {{mappedOrganization.types.count_all}}
                                    </span>
                                    {{mappedOrganization.name}}
                                </span>
                                <div class="md-secondary" flex="nogrow" layout="row" layout-align="center center">
                                    <trainer-certification-status-count-bubbles trainer="trainerFactory.trainer"
                                                                                certification-organization="mappedOrganization">
                                    </trainer-certification-status-count-bubbles>
                                </div>
                            </md-list-item>
                        </accordion-heading>
                        <md-list>
                            <md-list-item ng-repeat="certificationV2 in mappedOrganization.types.all"
                                          class="secondary-button-padding">
                                <div flex class="md-list-item-animation-container">
                                    <div flex
                                         class="list-item-default"
                                         ng-if="!certificationV2.removalConfirmation"
                                         layout="row"
                                         layout-align="space-between center">
                                        <trainer-certification-status trainer="trainerFactory.trainer"
                                                                      certification="certificationV2.certification_type">
                                        </trainer-certification-status>
                                        <p class="md-list-item-text" flex>
                                            {{certificationV2.certification_type.name}}
                                        </p>
                                        <div class="md-secondary"
                                             layout="row"
                                             layout-align="end center"
                                             flex="nogrow">
                                            <md-menu md-position-mode="target-right target">
                                                <md-button class="md-icon-button"
                                                           ng-click="openMenu($mdOpenMenu, $event)">
                                                    <i md-menu-origin
                                                       class="material-icons">
                                                        more_vert
                                                    </i>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item>
                                                        <md-button ng-click="verifyCertificationPopup(certificationV2, $event)">
                                                            <div layout="row" flex>
                                                                <p flex>
                                                                    Upload
                                                                </p>
                                                                <md-button class="md-icon-button">
                                                                    <i md-menu-align-target class="material-icons">
                                                                        file_upload
                                                                    </i>
                                                                </md-button>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item>
                                                        <md-button ng-click="toggleDeleteCertification(certificationV2)">
                                                            <div layout="row" flex>
                                                                <p flex>
                                                                    Remove
                                                                </p>
                                                                <md-button class="md-icon-button">
                                                                    <i class="material-icons">
                                                                        delete
                                                                    </i>
                                                                </md-button>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                    <div flex
                                         class="list-item-removing"
                                         ng-if="certificationV2.removalConfirmation"
                                         layout="row"
                                         layout-align="space-between center">
                                        <p flex>
                                            Are you sure you want to remove the
                                            <strong>
                                                {{certificationV2.certification_type.name}}
                                            </strong>
                                            specialty?
                                        </p>
                                        <div class="md-secondary"
                                             flex hide-xs hide-xxs
                                             layout="row"
                                             layout-align="center end">
                                            <md-button ng-click="deleteCertification(certificationV2)">
                                                Yes
                                            </md-button>
                                            <md-button ng-click="toggleDeleteCertification(certificationV2)">
                                                Cancel
                                            </md-button>
                                        </div>
                                        <div class="md-secondary"
                                             flex hide-gt-xs
                                             layout="row"
                                             layout-align="center end">
                                            <md-button class="md-icon-button"
                                                       ng-click="deleteCertification(certificationV2)">
                                                <i class="material-icons">check</i>
                                            </md-button>
                                            <md-button class="md-icon-button"
                                                       ng-click="toggleDeleteCertification(certificationV2)">
                                                <i class="material-icons">cancel</i>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>

                            </md-list-item>
                        </md-list>
                    </accordion-group>
                </md-list>
            </accordion>
        </md-card>
    </section>
</div>