<div layout="row"
     layout-align="center center"
     class="main-push">
    <div class="ag-flex-column" id="signup">
        <md-card ng-if="!success">
            <form name="registrationForm"
                  novalidate
                  ng-submit="submit(registrationForm)">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            Sign Up
                        </h2>
                        <span flex></span>
                        <div id="or">
                            or,
                            <md-button aria-label="Login"
                                       ui-sref="main.login({tab : type})">
                                Login
                            </md-button>
                        </div>
                    </div>
                </md-toolbar>
                <md-tabs md-selected="selectedIndex"
                         md-border-bottom
                         md-dynamic-height
                         md-autoselect>
                    <md-tab label="Client" ng-click="selectTab('trainee')">
                        <div id="signup-user">
                            <!--<md-card-content layout="column" layout-align="center center">-->
                                <div id="signup-user-social">
                                    <h1>Ready to start your fitness journey?</h1>
                                    <h2>Signup with Lunge today!</h2>
                                    <div>
                                        <md-button aria-label="Connect with Facebook"
                                                   class="facebook social-button"
                                                   href=""
                                                   ng-click="authenticate('facebook')">
                                            <md-icon>
                                                <ng-md-icon icon="facebook"></ng-md-icon>
                                            </md-icon>
                                            Connect with Facebook
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button aria-label="Connect with LinkedIn"
                                                   class="linkedin social-button"
                                                   href=""
                                                   ng-click="authenticate('linkedin')">
                                            <md-icon>
                                                <ng-md-icon icon="linkedin"></ng-md-icon>
                                            </md-icon>
                                            Connect with LinkedIn
                                        </md-button>
                                    </div>
                                </div>
                            <!--</md-card-content>-->
                        </div>
                    </md-tab>
                    <md-tab label="Trainer" id="signup-trainer" ng-click="selectTab('trainer')">
                        <div id="signup-trainer">
                            <div id="signup-trainer-social">
                                <h1>Are you a Certified Trainer?</h1>
                                <h2>Get started with Lunge today!</h2>
                                <div>
                                    <md-button aria-label="Connect with Facebook"
                                               class="facebook social-button"
                                               href=""
                                               ng-click="authenticate('facebook')">
                                        <md-icon>
                                            <ng-md-icon icon="facebook"></ng-md-icon>
                                        </md-icon>
                                        Connect with Facebook
                                    </md-button>
                                </div>
                                <div>
                                    <md-button aria-label="Connect with LinkedIn"
                                               class="linkedin social-button"
                                               href=""
                                               ng-click="authenticate('linkedin')">
                                        <md-icon>
                                            <ng-md-icon icon="linkedin"></ng-md-icon>
                                        </md-icon>
                                        Connect with LinkedIn
                                    </md-button>
                                </div>
                            </div>
                            <md-divider></md-divider>
                            <div id="signup-trainer-local">
                                <md-card-content>
                                    <h3>
                                        Or Signup Using Your Email
                                    </h3>
                                    <ag-floating-label>
                                        <label>
                                            Email
                                        </label>
                                        <input type="text"
                                               server-error
                                               name="email"
                                               ng-model="user.email"/>
                                        <div ng-messages="registrationForm.email.$error">
                                            <div ng-message="mongoose">
                                                {{registrationForm.errors.email}}
                                            </div>
                                        </div>
                                    </ag-floating-label>
                                </md-card-content>
                                <md-card-actions>
                                    <md-button aria-label="Sign up"
                                               type="submit">
                                        Sign up
                                    </md-button>
                                </md-card-actions>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </form>
        </md-card>
        <form name="resendEmailForm"
              ng-submit="resendEmail()">
            <md-card ng-if="success">
                <md-card-content>
                    <h3>Check your email!</h3>
                    <h5>
                        We sent you a link to verify your identity and get started using Lunge.
                    </h5>
                </md-card-content>
                <md-card-actions>
                    <md-button aria-label="Resend email"
                               type="submit">
                        Resend email
                    </md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>