<div class="module flat-white larger-style-1">
    <div cg-busy="{promise : cgBusy}">
        <div md-content>
            <form ng-submit="submit(about)"
                  id="about"
                  name="about"
                  class="form-horizontal">
                <header>
                    <h1>About</h1>
                    <div edit-button ng-click="toggleEditing(about)"></div>
                </header>
                <!-- Begin About Form -->
                <div class="group has-margin">
                    <!--<div class="form-group">-->
                    <!--<label for="bio" class="info-horizontal-label">-->
                    <!--Bio:-->
                    <!--</label>-->
                    <!--<div class="info-horizontal-value">-->
                    <!--<div ng-if="!editing">-->
                    <!--{{trainerFactory.trainer.bio || 'Write something about yourself'}}-->
                    <!--</div>-->
                    <!--<div ng-if="editing" class="info-horizontal-value-input">-->
                    <!--<textarea ng-change="removeMongooseError(about, 'bio')" placeholder="Write something about yourself" name="bio" id="bio" class="form-control" ng-model="trainerFactory.trainerEditing.bio"></textarea>-->
                    <!--<div class="form-error" ng-show="errors.bio"><span>{{errors.bio}}</span></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div ng-if="!editing" style="white-space: pre-line;"><!--
                    -->{{trainerFactory.trainer.bio || 'Write something about yourself'}}<!--
                    --></div>
                    <div ng-if="editing">
                        <md-input-container class="md-block" ng-class="{'show-info-only' : !editing}">
                            <label>Bio</label>
                        <textarea name="bio"
                                  ng-model="trainerFactory.trainerEditing.bio"
                                  ng-change="removeMongooseError(about, 'bio')"
                                  rows="{{textareaRows}}"
                                  md-select-on-focus
                                ></textarea>
                            <div ng-messages="about.bio.$error">
                                <div ng-message="mongoose">{{errors.bio}}</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <!-- Save Buttons -->
                <div class="row" ng-if="editing">
                    <div class="action-buttons">
                        <button type="submit" class="btn-action btn-primary" >
                            Save Changes
                        </button>
                        <div class="btn-action btn-danger" ng-click="toggleEditing(about)">
                            Cancel
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
