<md-card ag-editable-container trainer-factory-section="'about'">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Bio</span>
            </h2>
            <span flex></span>
            <md-button md-ink-ripple class="md-icon-button" ng-click="toggleEditing()">
                <i  class="material-icons">mode_edit</i>
            </md-button>
        </div>
    </md-toolbar>
    <form id="aboutForm"
          name="aboutForm"
          ng-submit="submit()">
        <md-card-content cg-busy="{promise : cgBusy}"  >
            <div class="ag-editable-container">
                <div class="ag-editable-default">
                    {{trainerFactory.trainer.bio || 'Write something about yourself'}}
                </div>
                <div class="ag-editable-editing">
                    <ag-floating-label>
                        <label>Bio</label>
                        <textarea name="bio"
                                  ng-model="trainerFactory.trainerEditing.bio"
                                  ng-change="removeMongooseError(about, 'bio')"
                                  rows="{{textareaRows}}"
                                  md-select-on-focus
                        ></textarea>
                        <div ng-messages="aboutForm.bio.$error">
                            <div ng-message="mongoose">{{errors.bio}}</div>
                        </div>
                    </ag-floating-label>
                </div>
            </div>
        </md-card-content>
        <md-card-actions ng-if="editing" layout="row" layout-align="end center">
            <md-button type="submit">Save</md-button>
            <md-button ng-click="toggleEditing()">Cancel</md-button>
        </md-card-actions>
    </form>
</md-card>