@-webkit-keyframes sent-slide-in-out {
	0% {
		opacity: 0;
		top: 20px;
	}
	10%   {
		opacity: 1;
		top: -15px;
	}
	60% {
		opacity: 1;
		top: -15px;
	}
	63% {
		opacity: 1;
		top: -20px;
	}
	75% {
		opacity: 0;
		top: 40px;
	}
	100% {
		opacity: 0;
		top: 40px;
	}
}@keyframes sent-slide-in-out {
	 0% {
		 opacity: 0;
		 top: 20px;
	 }
	 10%   {
		 opacity: 1;
		 top: -15px;
	 }
	 60% {
		 opacity: 1;
		 top: -15px;
	 }
	 63% {
		 opacity: 1;
		 top: -20px;
	 }
	 75% {
		 opacity: 0;
		 top: 40px;
	 }
	 100% {
		 opacity: 0;
		 top: 40px;
	 }
 }
@-webkit-keyframes sent-slide-in-out-xs {
	0% {
		opacity: 0;
		top: 5px;
	}
	10%   {
		opacity: 1;
		top: -35px;
	}
	60% {
		opacity: 1;
		top: -35px;
	}
	63% {
		opacity: 1;
		top: -40px;
	}
	75% {
		opacity: 0;
		top: 5px;
	}
	100% {
		opacity: 0;
		top: 5px;
	}
}
@keyframes sent-slide-in-out-xs {
	0% {
		opacity: 0;
		top: 5px;
	}
	10%   {
		opacity: 1;
		top: -35px;
	}
	60% {
		opacity: 1;
		top: -35px;
	}
	63% {
		opacity: 1;
		top: -40px;
	}
	75% {
		opacity: 0;
		top: 5px;
	}
	100% {
		opacity: 0;
		top: 5px;
	}
}
#message, #message-in-dialog {
	&.has-menu-locked-open {
		width: 100%!important;
	}
	.seen-at {
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 3px;
		//font-size: 12px;
		font-weight: 500;
		color: #90949c;
		font-size: 11px;
		i {
			font-size: 14px;
			margin-right: 3px;
			font-weight: bold;
		}
	}
	form {
		//overflow: hidden;
		position: relative;
		button.md-primary {
			transition: all .3s;
			&.ng-enter {
				transform: scaleX(0) scaleY(0) translate3d(30px, 10px,-40px);
			}
			&.ng-enter-active {
				transform: scaleX(1) scaleY(1) translate3d(0, 0, 0);
			}
			&.ng-leave {
				transform: scaleX(1) scaleY(1) translate3d(0, 0, 0);
			}
			&.ng-leave-active {
				transform: scaleX(0) scaleY(0) translate3d(30px, 10px,-40px);
			}
		}
	}
	::-webkit-scrollbar {
		width: 8px;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: lighten($brand-primary, 55%);
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
	#sent-notification {
		position: absolute;
		//opacity: 0;
		top: 20px;
		right: 8px;
		font-size: 14px;
		color: #2bb32b;
		font-weight: bold;
		i {
			font-weight: bold;
			color: #2bb32b;
			margin-right: 5px;
			font-size: 14px;
		}


		animation-name: sent-slide-in-out;
		animation-duration: 3.7s;
		animation-timing-function: ease; /* ease is the default */
		animation-delay: 0s;             /* 0 is the default */
		animation-iteration-count: 1;    /* 1 is the default */
		animation-direction: normal;  /* normal is the default */
		-webkit-animation-name: sent-slide-in-out;
		-webkit-animation-duration: 3.7s;
		-webkit-animation-timing-function: ease; /* ease is the default */
		-webkit-animation-delay: 0s;             /* 0 is the default */
		-webkit-animation-iteration-count: 1;    /* 1 is the default */
		-webkit-animation-direction: normal;  /* normal is the default */

		@include respond-to(xs) {
			top: 5px;
			font-weight: 400;
			i {
				font-weight: 400;
			}
			animation-name: sent-slide-in-out-xs;
		}
	}
	ag-floating-label {
		margin-top: 24px;
		//background: white;
		.ag-errors-spacer {
			display: none;
		}
		.ag-floating-label-content-wrapper {
			margin-bottom: 0;
		}
		textarea {
			//&::-webkit-scrollbar {
			//	//width: 0;
			//}
			//&::-webkit-scrollbar-thumb {
			//	color: red;
			//	background: red;
			//}
			&.has-padding {
				padding-right: 44px;
			}
			border-width: 0;
			//padding-right: 60px;
			[disabled] {
				background: #f8f8f8;
			}
			min-height: 100px;
			&::-webkit-scrollbar {
				width: 3px!important;
			}
			@include respond-to(xs) {
				min-height: 0;
			}
		}
	}
	#textbox-container {
		padding: 0 6px 3px 6px;
		@include respond-to(xs) {

		}
	}
	md-checkbox {
		//display: none;
		.md-label {
			margin: 0;
		}
		.md-icon {
			width: 14px;
			height: 14px;
		}
		.md-container {
			width: 14px;
			height: 15px;
		}
		&.md-checked {
			.md-icon:after {
				left: 4.66667px;
				top: 2.22222px;
				display: table;
				width: 4.66667px;
				height: 9.33333px;
			}
		}
	}
	form {
		ag-floating-label {
			border-bottom: 1px solid #999;
		}
		position: relative;
		button {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			margin-bottom: 3px;
			margin-right: 3px;
			min-width: 0;
			padding: 0 10px;
		}
	}
	.press-enter-to-send {
		color: #666;
		margin-top: 5px;
		overflow: hidden;
		@include respond-to(xxs) {
			display: none;
		}
	}
	md-checkbox {
		margin-bottom: 0;
	}
}

#message, #message-in-dialog {
	.md-subheader {
		background: white;
	}
	md-content {
		background: white;
		height: auto;
	}
	.name {
		font-size: 14px;
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
	#message-md-content {
		position: relative;
	}
	#textbox-container {
		position: relative;
	}
	#new-message-count {
		position: absolute;
		top: -10px;
		z-index: 1;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		button {
			overflow: hidden;
			text-decoration: none;
			min-height: 0;
			margin: 0;
			border-radius: 20px;
			@extend .md-whiteframe-z2;
			padding: 6px 12px;
			background: white;
			font-weight: 400;
			//cursor: pointer;
			//&:hover {
			//	background: #f8f8f8;
			//}
			.md-ripple-container {
				overflow: hidden;
				border-radius: 20px;
			}
			span {
				line-height: 1;
				text-transform: none;
			}
		}
	}
	.chat-message {
		padding: 5px 0;
		&.unseen {
			transition: background 0s;
			background: #e6d9ec;
		}
		&.seen {
			transition: background 2.3s;
			background: transparent;
		}
	}
	.loading {
		position: relative;
		button {
			width: 100%;
			margin: 0;
		}
		md-progress-circular {
			margin: 0 auto 20px auto!important;
		}
		md-progress-linear {
			position: absolute;
			top: 0;
			width: 100%;
			//margin: 7px auto 7px auto!important;
		}
		.spinner-and-text {
			margin-top: 40px;
			.text {
				margin-top: 5px;
				font-size: 16px;
				font-weight: 300;
			}
		}
	}
	#message-container {
		//position: relative;
		// DO NOT DELETE - if we need the footer, we'll use this!
		height: calc(100vh - 65px);
		//height: calc(100% - 65px);
		//height: 100%;
		@include respond-to(xs) {
			height: calc(100vh - 56px);
		}
	}
	.message-row {
		padding-left: 5px;
		padding-right: 5px;
		.message-content {
			white-space: pre-wrap;
			// space for the time above it
			padding-right: 50px;
		}
		.message-row-1 {
			.name {
				font-weight: 500;
			}
			.time {
				font-size: 12px;
				color: #888;
			}
		}
		~ .message-row {
			//margin-top: 10px;
		}
	}
	.profile-picture-thumbnail {
		margin-right: 10px;
	}
	.displayDate {
		text-align: center;
		color: #999;
		> div {
			padding: 10px;
		}
		._md-subheader-inner {
			//width: 100%;
			@extend .flex-100;
			@extend .layout-row;
			@extend .layout-align-center-center;
			padding: 0;
			._md-subheader-content {
				padding: 10px 10px;
				@include respond-to(xs) {
					padding-bottom: 7px;
				}
			}
			&:before, &:after {
				content: '';
				flex: 1;
				display: flex;
				height: 1px;
				background: #ddd;
			}
		}
		//&:before, &:after {
		//	content: '';
		//	flex: 1;
		//	display: flex;
		//	height: 1px;
		//	background: #ddd;
		//}
	}
}