
$profile-page-max-width: 750px;

.top-masthead {
	padding-bottom:4rem;
	background:#ddd;
}
.done-editing {
	background:#eee;
	border-bottom:2px solid #ddd;
	padding:19px;
	position:fixed;
	top:0;
	width:100%;
	left:0%;
	-webkit-transition: all .65s;
	z-index: 100;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
	cursor: pointer;
	&.ng-hide-remove-active{
		left:0%;
	}
	&.ng-hide {
		left:100%;
	}
}

// Trainer rating
.rating {
	.fa-star, .fa-star-half {
		color: #FECF0A;
		text-shadow: 0px 0px 2px #9A9A9A;
	}
}

#dashboard {
	.profile-picture-container {
		@extend .col-xs-4;
		@extend .col-xxs-8;
		.profile-picture {
			border-radius: 10px;
			//border:1px solid lighten($body-bg, 5%);
			width:100%;
			padding-bottom:100%;
			background-size: contain!important;
			background-position: center!important;
			background-repeat: no-repeat!important;
		}
	}
}

// alert at the top of the profile
.alert {
	padding:1em 1.5em;
	border-radius:8px;
	color: #347b4b;
	margin:0 auto;
	position:relative;
	.close {
		margin-top: -.3em;
		margin-right: -.3em;
	}
	&.profile {
		max-width: $profile-page-max-width;
	}
	text-align:center;
	h1 {
		font-size:1.8em;
	}
	.welcome-sub {
		font-size:1.1em;
	}
}

.trainer-profile {
	.google-map {
		height:300px;
		&.empty {
			height:250px;
		}
	}
	/*
	.angular-google-map-container {
		height:300px;
		@include respond-to(xxs) {
			height:250px;
		}
	}
	*/
}

.profile-picture-container:hover {
	.upload-button {
		background: rgba(0,0,0, .4);
		p {
			visibility: visible;
		}
		i {
			-webkit-transform: scale(.6);
			opacity:1;
		}
	}
}
.trainer-card {
	&.wide {
		.profile-picture-container {
			@extend .col-xs-8;
			@extend .col-xxs-24;
			padding: 0px;
			//border-left:2px solid lighten($body-bg, 15%);
			&.info-editing {
				display:none;
				@include respond-to(xxs) {
					//display:block;
				}
			}
		}
	}
}

.trainer-synced-account {
	display: inline-block;
	margin-bottom:.25rem;
}

.profile-picture-container {
	.profile-picture {
		border-radius: 10px;
		background-size:contain;
		background-repeat:no-repeat;
		background-position:center;
	}
	input[type="file"] {
		visibility:hidden;
		position: absolute;
		left:-9000px;
		cursor:pointer;
		&:hover {
			~ .upload-button {
				text-decoration:none;
				color:white;
				p {
					visibility:visible;
				}
				background:rgba(0,0,0,.9);
				i {
					-webkit-transform: scale(.6);
					opacity:1;
				}
			}
		}
	}
	.upload-button {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius:10px;
		display:block;
		padding:1.25em 0em;
		-webkit-transition: all .4s;
		text-decoration:none;
		color:white;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		cursor:pointer;
		p {
			visibility:hidden;
			margin:0;
			font-weight:bold;
			padding-left:1em;
		}
		i {
			-webkit-transition: all .4s;
			font-size:3rem;
			position:absolute;
			left:.5em;
			opacity:.7;
			line-height:.7
		}
		&:hover {
			text-decoration:none;
			color:white;
			p {
				visibility:visible;
			}
			background:rgba(0,0,0,.9);
			i {
				-webkit-transform: scale(.6);
				opacity:1;
			}
		}
	}
}

.profile-style-1 {
	header {
		h1 {
			text-align:left;
		}
	}
}
.trainer-profile, .profile-style {
	form {
		&.contact-form {
			textarea {
				border:none;
				box-shadow:none;
			}
		}
		.required {
			position: absolute;
			right: .4em;
			top: 0em;
		}
	}
	.edit-button {
		border-top-right-radius:8px;
		cursor: pointer;
		&.small:hover {
			background:#3174C8;
		}
		position: absolute;
		right: 0;
		top:0;
	}
	.row-centered {
	text-align:center;
}
	.col-centered {
		display:inline-block;
		float:none;
		/* reset the text-align */
		text-align:left;
		/* inline-block space fix */
		margin-right:-4px;
	}
	text-align:center;
	max-width:$profile-page-max-width;
	margin:0 auto;
	margin-top:0em;
	//background: lighten($body-bg, 5%);
	border-radius:10px;
	//padding:1em;
	position:relative;
	@include respond-to(xxs) {
		padding:1em 12px;
	}
	.trainer-card {
		.favorite {
			position:absolute;
			top:1em;
			right:1em;
			i {
				font-size:1.5em;
			}
		}
	}
	h1 {
		//font-size:1.8em;
	}
	.bio {
		.text {
			font-size:.9em;
		}
	}
	.information {
		&.info-editing {
			width:100%;
			padding:0;
		}
		&.full-width {
			width:100%;
		}
		@extend .col-xs-16;
		@extend .col-xxs-24;
		text-align:left;
		@include respond-to(xxs) {
			padding-top:1em;
			padding-left:0;
			padding-right:0;
		}
		h2 {
			font-size:1.3em;
		}
		.item {
			~ .item {
				margin-top:1.5em;
			}

		}
		.actions {
			margin-top:1.5em;
		}
	}
	section {
		box-shadow: -4px 4px #ddd;
		text-align: left;
		background:white;
		//border: 1px solid;
		padding: 0em;
		border-radius: 8px;
		overflow: hidden;
		margin: 1.5em 0em;
		.edit {
			border-bottom-left-radius: 5px;
			padding: .26em .3em;
			font-size: 1.4em;
			color:white;
		}
		.title {
			position:relative;
			border-top-right-radius:8px;
			border-top-left-radius:8px;
			overflow:hidden;
			padding: .7rem;
			background: #4183D7;
			color: white;
			line-height:1;
			margin-bottom:0em;
			font-size:1.3em;
		}
		.content {
			padding: .7rem;
		}
	}
	.certification-list {
		@include clearfix();
		text-align:center;
		.certification {
			font-weight:bold;
			@extend .col-xs-6;
			@extend .col-xxs-8;
		}
	}
	.trainer-reviews {
		.review {
			.picture {
				@extend .col-xs-4;
				@extend .col-xxs-8;
			}
			.review-stars {
				@extend .col-xs-20;
				@extend .col-xxs-16;
			}
			.review-text {
				font-size:.9em;
				@extend .col-xs-20;
				@extend .col-xxs-16;
			}
			padding-top:1em;
			padding-bottom:1em;
			~ .review {
				border-top:1px solid lighten($body-bg, 15%);
				padding-top:1em;
			}
		}
	}
}