
$profile-page-max-width: 750px;

.top-masthead {
	position:relative;
	background:#ddd;
	margin-bottom:75px;
}

.rating {
	.fa-star, .fa-star-half {
		color: #FECF0A;
		text-shadow: 0px 0px 2px #9A9A9A;
	}
}

.trainer-profile {
	padding-bottom:50px;
	.md-fab {
		margin: 0;
		position: absolute;
		right: 0;
		bottom: -27px;
	}
	.google-map {
		//height:300px;
		&.empty {
			//height:250px;
		}
	}
}


.profile-picture-container:hover {
	.upload-button {
		background: rgba(0,0,0, .4);
		p {
			text-align: center;
			visibility: visible;
		}
		i {
			color: white;
			-webkit-transform: scale(.6);
			opacity:1;
		}
	}
}

.profile-picture-container {
	position:relative;
	.profile-picture {
		border-radius: 10px;
		background-size:contain;
		background-repeat:no-repeat;
		background-position:center;
	}
	input[type="file"] {
		visibility:hidden;
		position: absolute;
		left:-9000px;
	}
	.upload-button {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius:10px;
		padding:1.25em 0em;
		-webkit-transition: all .4s;
		text-decoration:none;
		color:white;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		cursor:pointer;
		p {
			visibility:hidden;
			margin:0;
			font-weight:bold;
			padding-left:1em;
		}
		i {
			-webkit-transition: all .4s;
			font-size:3rem;
			position:absolute;
			left:.5em;
			opacity:.7;
			line-height:.7
		}
		&:hover {
			text-decoration:none;
			color:white;
			p {
				visibility:visible;
			}
			background:rgba(0,0,0,.9);
			i {
				-webkit-transform: scale(.6);
				opacity:1;
			}
		}
	}
}

.profile-style-1 {
	header {
		h1 {
			text-align:left;
		}
	}
}
.trainer-profile, .profile-style {
	max-width:$profile-page-max-width;
	margin:0 auto;
	margin-top:0em;
	//background: lighten($body-bg, 5%);
	border-radius:10px;
	//padding:1em;
	position:relative;
	@include respond-to(xxs) {
		//padding:1em 12px;
	}
	.trainer-card {
		.favorite {
			position:absolute;
			top:1em;
			right:1em;
			i {
				font-size:1.5em;
			}
		}
	}
}