<md-bottom-sheet id="share-bottom-sheet"
        class="md-list md-has-header" ng-cloak ng-controller="AgProfileShareButtonBottomSheetController">
    <md-subheader>Share your profile</md-subheader>
    <md-list>
        <md-list-item ng-repeat="item in items">
            <md-button
                    ng-click="listItemClick(item)"
                    md-autofocus="$index == 0"
                    class="md-list-item-content">
                <md-icon>
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </md-icon>
                <span class="md-inline-list-icon-label">{{ item.name }}</span>
            </md-button>
        </md-list-item>
        <md-list-item>
            <div>
                <md-button class="md-icon-button">
                    <i class="material-icons">link</i>
                </md-button>
                <span class="md-inline-list-icon-label" md-select-all>{{trainerUrl}}</span>
            </div>
        </md-list-item>
    </md-list>
</md-bottom-sheet>