<div layout="row"
     layout-align="center center"
     class="main-push">
    <div class="flex-column" id="password-reset-submit">
        <md-card ng-if="!success">
            <form name="passwordResetSubmitForm"
                  ng-if="!emailSent"
                  novalidate
                  ng-submit="submit(passwordResetSubmitForm)">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            Reset Password
                        </h2>
                    </div>
                </md-toolbar>
                <div id="signup-trainer"
                     cg-busy="{promise : cgBusy}">
                    <div id="signup-trainer-social">
                        <div id="signup-trainer-local">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">Forgot your {{type}} password?</span>
                                    <span class="md-subhead">Enter your email and we'll send you a link to reset
                                        your password
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <ag-floating-label>
                                    <label>
                                        Email
                                    </label>
                                    <input type="text"
                                           server-error
                                           name="email"
                                           ng-model="user.email"/>
                                    <div ng-messages="passwordResetSubmitForm.email.$error">
                                        <div ng-message="mongoose">
                                            {{passwordResetSubmitForm.errors.email}}
                                        </div>
                                    </div>
                                </ag-floating-label>
                            </md-card-content>
                            <md-card-actions>
                                <md-button type="submit">
                                    Send Reset Link
                                </md-button>
                            </md-card-actions>
                        </div>
                    </div>
                </div>
                <!--</md-tab>-->
                <!--</md-tabs>-->
            </form>
        </md-card>
        <form name="resendEmailForm"
              ng-submit="resendEmail()">
            <md-card ng-if="emailSent">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            Check your email!
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    We sent you a link to reset your password.  Please follow the instructions in the email to continue.
                </md-card-content>
                <!--<md-card-actions>-->
                    <!--<md-button type="submit">-->
                        <!--Resend email-->
                    <!--</md-button>-->
                <!--</md-card-actions>-->
            </md-card>
        </form>
    </div>
</div>