<div class="google-map"  ng-class="{'empty-loading' : !googleMapLoaded, 'empty' : googleMapLoaded
&& !trainerFactory.trainer.location.state, 'loaded' : googleMapLoaded
&& trainerFactory.trainer.location.state}">
    <div ng-show="!trainerFactory.trainer.location.state" class="no-main-location">
        <div ng-if="!trainerFactory.trainer">
            Loading...
        </div>
        <div ng-if="trainerFactory.trainer">
            <div>
                <span ui-sref-active="ng-hide">
                    No locations have been added yet.
                </span>
            </div>
            <md-button class="md-fab add-location" ng-show="mapseditable" ng-click="locationDialog($event)">
                <md-icon>
                    <i class="material-icons">add</i>
                </md-icon>
            </md-button>
        </div>
    </div>
    <div ng-if="trainerFactory.trainer.location.state" id="google-map" class="google-map">
        <div ng-show="map.center.latitude && map.bounds">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="gmapOptions" bounds="map.bounds" control="map.control">
            </ui-gmap-google-map>
            <md-button class="md-fab add-location" ng-show="mapseditable" ng-click="locationDialog($event)">
                <md-icon>
                    <i class="material-icons">add</i>
                </md-icon>
            </md-button>
        </div>
    </div>
</div>