<div class="google-map"
     ng-class="{'empty-loading' : !googleMapLoaded, 'empty' : googleMapLoaded
&& !trainerFactory.trainer.location.state, 'loaded' : googleMapLoaded
&& trainerFactory.trainer.location.state}" ag-map-size-container>
    <div layout="row"
         layout-align="center center"
         style="height:100%"
         ng-if="!trainerFactory.trainer || !trainerFactory.trainer.location.state">
        <h1 ng-if="!trainerFactory.trainer">
            <md-progress-circular md-diameter="100"></md-progress-circular>
        </h1>
        <h1 ng-if="trainerFactory.trainer &&
                    !trainerFactory.trainer.location.state"
            class="no-main-location">
            No locations have been added yet.
        </h1>
    </div>
    <div ng-if="trainerFactory.trainer.location.state"
         id="google-map"
         class="google-map">
        <div ng-if="map.center.latitude && map.bounds">
            <ui-gmap-google-map
                    center="map.center"
                    zoom="map.zoom"
                    draggable="true"
                    options="gmapOptions"
                    bounds="map.bounds"
                    events="map.events"
                    control="map.control">
                <ui-gmap-markers
                        models="map.markers"
                        coords="'coords'"
                        options="'options'",
                        events="map.markersEvents">
                </ui-gmap-markers>
                <ui-gmap-window
                        options="map.window.options"
                        control="map.window.control"
                        show="map.window.show"
                        coords="map.window.model.coords"
                        closeClick="map.window.closeClick()">
                    <div id="info-window">
                        <h2>
                            {{map.window.model.trainerLocationModel.title || 'Untitled Location'}}
                        </h2>
                        <div>
                            {{map.window.model.trainerLocationModel.address_line_1}}
                        </div>
                        <div>
                            {{map.window.model.trainerLocationModel.city + ', '
                            + map.window.model.trainerLocationModel.state}}
                        </div>
                        <div>
                            {{map.window.model.trainerLocationModel.zipcode}}
                        </div>
                    </div>
                </ui-gmap-window>
            </ui-gmap-google-map>
            <!--<ui-gmap-marker id="'1'" idKey="'2'" coords="map.markers[0].coords"-->
            <!--options="map.markers[0].options"></ui-gmap-marker>-->
            <!-- Removed the FAB to only have one fab per screen... Put add icon in the top bar-->
            <!--<md-button class="md-fab add-location" ng-show="editable" ng-click="locationDialog($event)">-->
            <!--<md-icon>-->
            <!--<i class="material-icons">add</i>-->
            <!--</md-icon>-->
            <!--</md-button>-->
        </div>
    </div>
</div>