<span class="trainer-synced-account">
    <span ng-if="!isMe()" ng-class="providerClass" >
        <span ng-if="!isProviderActive(provider);" class="deactive"><!--
            --><i class="fa" ng-class="'fa-{{providerClass}}'"></i><!--
        --></span>
        <a ng-if="isProviderActive(provider);" ng-attr-title="{{trainer.name.first}}'s {{getProviderString(provider)}} profile" my-href="getProviderLink(provider)" target="_blank" ng-class="providerClass"><!--
            --><i class="fa" ng-class="'fa-{{providerClass}}'"></i><!--
        --></a>
    </span>
    <span ng-if="isMe()">
        <span ng-if="!isProviderActive(provider);" ng-click="!isProviderEditing(provider) && loginOauth(provider)" class="linkedin">
            <i class="fa" ng-class="'fa-{{providerClass}}'"></i><!--
        --></span>
        <a ng-if="isProviderActive(provider);" ng-attr-title="{{trainer.name.first}}'s {{getProviderString(provider)}} profile" my-href="getProviderLink(provider)" target="_blank" ng-class="providerClass">
            <i class="fa" ng-class="'fa-{{providerClass}}'"></i><!--
        --></a>
        <div ng-if="isProviderActive(provider) && basicInfo.visible" ng-click="unlink(provider)" class="unlink btn btn-danger btn-custom-small"> unlink</div>
    </span>
</span>