<div layout="row"
     layout-align="center center"
     class="main-push">
    <div class="flex-column" id="password-reset-submit">
        <md-card ng-if="!success">
            <form name="passwordResetSubmitForm"
                  ng-if="!complete"
                  novalidate
                  ng-submit="submit(passwordResetSubmitForm)">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            Set a new password
                        </h2>
                    </div>
                </md-toolbar>
                <!--<md-tabs md-selected="selectedIndex"-->
                <!--md-border-bottom-->
                <!--md-dynamic-height-->
                <!--md-autoselect id="social-login">-->
                <!--<md-tab label="User" >-->
                <!--<md-card-content layout="column" layout-align="center center">-->
                <!--Users-->
                <!--</md-card-content>-->
                <!--</md-tab>-->

                <!--<md-tab label="Trainer" id="signup-trainer">-->
                <div id="signup-trainer"
                     cg-busy="{promise : cgBusy}">
                    <div id="signup-trainer-social">
                        <md-card-title>
                            <md-card-title-text>
                                <div class="md-header">
                                    <h1>Confirm your new {{type}} password</h1>
                                </div>
                            </md-card-title-text>
                        </md-card-title>
                        <div id="signup-trainer-local">
                            <md-card-content>
                                <ag-floating-label>
                                    <label>
                                        Password
                                    </label>
                                    <input type="password"
                                           server-error
                                           name="password1"
                                           ng-model="passwords.password1"/>
                                    <div ng-messages="passwordResetSubmitForm.password1.$error">
                                        <div ng-message="mongoose">
                                            {{passwordResetSubmitForm.errors.password1}}
                                        </div>
                                    </div>
                                </ag-floating-label>
                                <ag-floating-label>
                                    <label>
                                        Re-type password
                                    </label>
                                    <input type="password"
                                           server-error
                                           name="password2"
                                           ng-model="passwords.password2"/>
                                    <div ng-messages="passwordResetSubmitForm.password2.$error">
                                        <div ng-message="mongoose">
                                            {{passwordResetSubmitForm.errors.password2}}
                                        </div>
                                    </div>
                                </ag-floating-label>
                            </md-card-content>
                            <md-card-actions>
                                <md-button type="submit">
                                    Submit
                                </md-button>
                            </md-card-actions>
                        </div>
                    </div>
                </div>
                <!--</md-tab>-->
                <!--</md-tabs>-->
            </form>
        </md-card>
        <form name="resendEmailForm"
              ng-submit="resendEmail()">
            <md-card ng-if="complete">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">
                            Your password has been reset
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <!--<md-card-content>-->
                    <!--We sent you a link to reset your password.  Please follow the instructions in the email to continue.-->
                <!--</md-card-content>-->
                <!--<md-card-actions>-->
                    <!--<md-button type="submit">-->
                        <!--Resend email-->
                    <!--</md-button>-->
                <!--</md-card-actions>-->
            </md-card>
        </form>
    </div>
</div>