<div class="main-push">
    <!-- Right noe we're just redirecting them home -->
    <!--<div layout="row" layout-align="center center" ng-if="!resolvedTrainerResource._id">-->
        <!--<h1>-->
            <!--That code has already been used.-->
        <!--</h1>-->
    <!--</div>-->
    <div layout="row"
         layout-align="center center"
         ng-if="verified">
        <div class="flex-column" id="set-password">
            <md-card cg-busy="{promise : cgBusy}">
                <form ng-submit="submitPassword(passwordForm)"
                      name="passwordForm"
                      novalidate>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Almost there! Set a password for your account</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <ag-floating-label>
                            <label>Password</label>
                            <input type="password"
                                   name="password"
                                   ng-change="removePasswordErrors(passwordForm)"
                                   server-error
                                   ng-model="password.password1"/>
                            <div ng-messages="passwordForm.password.$error">
                                <div ng-message="mongoose">
                                    {{passwordForm.errors.password}}
                                </div>
                            </div>
                        </ag-floating-label>
                        <ag-floating-label>
                            <label>Re-type password</label>
                            <input type="password"
                                   name="password2"
                                   ng-change="removePasswordErrors(passwordForm)"
                                   server-error
                                   ng-model="password.password2"/>
                            <div ng-messages="passwordForm.password2.$error">
                                <div ng-message="mongoose">
                                    {{passwordForm.errors.password2}}
                                </div>
                            </div>
                        </ag-floating-label>
                    </md-card-content>
                    <md-card-actions>
                        <md-button type="submit">Submit</md-button>
                    </md-card-actions>
                </form>
            </md-card>
        </div>
    </div>
</div>

<!--
<div class="trainer-registration">
    <div class="registration-box invalid" ng-if="resolvedRegistrationResource.status == 404">
        <h1>{{resolvedRegistrationResource.data}}</h1>
    </div>
    <div class="registration-box" ng-if="resolvedRegistrationResource.status != 404">
        <header>
            <h1>Almost there! Set a password for your account</h1>
            <hr/>
        </header>
        <div class="error" ng-if="message">{{message}}</div>
        <div class="row">
            <form class="form sm" ng-submit="submitPassword(form)" name="form" ng-keydown="resetErrors()" novalidate>
                <div class="form-group">
                    <input name="password" type="password" class="input-lg form-control" placeholder="Password"
                           ng-model="password.password1" required/>
                </div>
                <div class="form-group">
                    <input name="password2" type="password" class="input-lg form-control" placeholder="Re-type password"
                           ng-model="password.password2" required/>
                </div>
                <div ng-if="errors.password || errors.hashedPassword" class="form-group has-error">
                    <div class="help-block"  ng-repeat="error in errors">
                        {{error}}
                    </div>
                </div>
                <div class="form-group last">
                    <input class="form-control input-lg" type="submit" value="{{!sending ? 'Log in' : 'Logging in...'}}" ng-disabled="submitting">
                </div>
            </form>
        </div>
    </div>
</div>
-->