<div ng-controller="MenuController">
    <div class="menu spaced">
        <div ng-repeat="item in menuItems">
            <a ng-if="item.name=='Profile'" class="menu-item" ng-click="goToProfile()">
                <i class="fa" ng-class="item.icon"></i>
                {{item.name}}
            </a>
            <a ng-if="item.name != 'Profile'" class="menu-item" ng-click="hide()" ui-sref="{{item.sref}}">
                <i class="fa" ng-class="item.icon"></i>
                {{item.name}}
            </a>
        </div>
    </div>
    <div class="menu-cover" ng-class="{'menu-active' : isMenuActive()}">
    </div>
</div>